[2017-05-16 07:23] delarosatrevin commented on #1004
Pablo, I agree that the Button make it quite visible, but I disagree that it should be in that way. My guess is that this function will not be used so frequently, so there is not need to make it so visible (and breaking our general aesthetics ). Imagine that this will be mainly used for publication, so after all processing (or most of it) have been done. Then, we need to remove the people that use

[2017-05-16 11:29] delarosatrevin commented on #1002
Someone here was trying to do a classification with frealign and the first computing steps were running for 4 days and my guess is that it was stuck. @josuegbl, any comment about this? Is there any trick using the protocol or maybe a bug in the conversion of the required input files?

[2017-05-16 12:18] pconesa commented on #996
It worked after closing the project, it seems to be more a refreshing problem.

[2017-05-16 13:21] yaizar commented on #1004
This looks good! I don't see the changes in the branch though, let me know when you push them @delarosatrevin

[2017-05-16 13:23] yaizar commented on #979
I'm going to have a text editor open the info in DOT format when we click this option unless someone thinks there's a more convenient idea

[2017-05-16 13:32] delarosatrevin commented on #1004
Hum...it seems that I accidentally committed the change to release-1.1-fixes branch, it is commit b95bd00679ef90f08185b14eed68ed11c15b5440

[2017-05-16 13:51] rmarabini opened #1005 "new label with relion"
When running scipion 1.1 + relion 2 I get the warnings (executing 3d classification)

WARNING: Ignoring unknown column: rlnIgnoreHelicalSymmetry
WARNING: Ignoring unknown column: rlnHelicalKeepTiltPriorFixed

So it seems that there are two new labels in relion that was not been ported to scipion.

[2017-05-16 14:04] pconesa commented on #1004
Looks like what we wanted initially to do. Thanks, we'll have a look and
we'll do it this way I agree, though  I liked the idea "overstating"
that there is a "button to export the citations".

I see you have already pushed "accidentally" to fixes....is that the way
to collaborate from now on? ;-)....he,he...no problem we will look to
see if , leaving it there we can highlight it a bit more (bold f

[2017-05-17 06:42] JuhaHuiskonen opened #1006 "protocol "opic - localized subparticles" fails when vector given"
I am running the test
tests.em.protocols.test_protocol_localized_reconstruction.TestLocalizedRecons

This works. However, if I change the input Vectors from type "cmm file" to "string" I get the following error:
Protocol failed: [Errno 2] No such file or directory: ' '

It seems there is a space instead of an empty string passed for the cmm file name.

[2017-05-17 08:26] josuegbl commented on #1006
Ok, Ill see this error. I could reproduce it.

[2017-05-17 12:17] josuegbl commented on #1006
Done!

[2017-05-17 12:17] #1006 closed

[2017-05-18 10:20] attamatti opened #1010 "unsupported format character error"
I'm trying to install Scipion, everything looks OK when I run `./scipion config`

`Scipion v1.0.1 (2016-06-30) Augusto
python  /fbs/emsoftware2/LINUX/fbsmi/scipion/pyworkflow/apps/pw_config.py
All the expected sections and options found in /fbs/emsoftware2/LINUX/fbsmi/scipion/config/scipion.conf
All the expected sections and options found in /fbs/emsoftware2/LINUX/fbsmi/scipion/config/protocols.co

[2017-05-18 14:26] carmensmp opened #1013 "resmap in scipion release 1.1"
Hi,

when I try to run ResMap with two half volumes (box size=752px) the protocol just stalls at
00016:   2017-05-18 14:08:06,512 INFO:  STARTED: estimateResolutionStep, step 2
00017:   2017-05-18 14:08:06,512 INFO:    2017-05-18 14:08:06.512385
00018:   2017-05-18 14:08:06,516 INFO:  Entered into dir: cd 'Runs/008888_ProtResMap'
and does nothing -- it does not die but it does not use any CPU.

If

[2017-05-18 14:30] carmensmp opened #1014 "wrong legends in FSC plot"
Hi,

relion postprocess viewer displays weird legends in FSC plots
![scipion](https://cloud.githubusercontent.com/assets/15669390/26207198/293f87ae-3be7-11e7-8fac-4b32cd916e2b.png)

guinier plot legends work fine

release 1.1

[2017-05-18 15:13] #1010 closed

[2017-05-19 08:42] josuegbl opened #1015 "ScipionBox: split frame range into two, separating initial and final frame."
This is a wish coming from Talos microscope's guys.

[2017-05-19 10:58] Vilax opened #1019 "RCT extract particle pairs"
The protocol works suitably and therefore it correctly creates the output. But the Analyze results button does not work, and therefore the output is not shown.

Regards

[2017-05-19 13:49] Vilax commented on #1013
Hi, Carmen

Can you check if in the terminal appears a segmentation fault? I got a similar situation with large volumes and not enough RAM memory

Regards

Vilas

[2017-05-19 14:39] carmensmp commented on #1013
Hi, yes there is a segmentation fault message. My RAM is 256 GB, and
according to the system monitor the max RAM use was ~6%.

I have run ResMap (the original standalone program) in the same machine and
it did run.

  -------------------------------------------------------------
  Carmen San Martín, Ph. D.
  Centro Nacional de Biotecnología (CNB-CSIC)
  Darwin, 3
  28049-Madrid (SPAIN)
  Email:  c

[2017-05-20 09:28] #993 closed

[2017-05-21 10:30] josuegbl commented on #1001
@cossorzano, this issue is fixed? If so, could you close it?

[2017-05-22 07:33] rmarabini opened #1020 "gctf"
After gctf installation the binary file has the following file modes:

-rwxr--r-- 1 roberto roberto 2091780 Sep 29  2016 /usr/local/scipion/software/em/Gctf-1.06/bin/Gctf-v1.06_sm_20_cu7.5_x86_64

That is, it can only be executed by the person who install it. file modes should be changed to

rwxr-xr-x so everybody can use it.

[2017-05-22 07:36] rmarabini opened #1021 "gctf-2"
each step in gctf takes about 2 seconds. Unfortunately process 74 micrographs takes about 10 minutes= 600 seconds, most of the time the computer is just waiting for the next step. It will save a lot of time to enable threads here so the workflow engine may start several works in parallel

[2017-05-22 07:38] delarosatrevin commented on #1021
Yes, totally agree. But you need to be careful about the load (cpu or ram) of the GPU. Moreover, it would be nice that threads could expand through many cards.

[2017-05-22 08:19] cossorzano commented on #1001
Yes

[2017-05-22 08:19] #1001 closed

[2017-05-22 10:14] #983 closed

[2017-05-22 10:22] josuegbl opened #1022 "relion extract particle does not keep the id particles if extract from a subset"
If you extract from a subset, the Id coming from coordinates is not kept in the extracted particles.
@delarosa, if you have not time, please tell me and ill try to fix it.

[2017-05-22 12:37] delarosatrevin commented on #1022
Fixed in 99b7fe183cb9f36c359f63a9df4f1226e7ad9ec9.
Actually this problem was not only for the subset, but for any extraction with this protocol.

[2017-05-22 12:37] #1022 closed

[2017-05-22 13:56] yaizar opened #1024 "xmipp movie extract particle fails"
[code]

[2017-05-22 14:06] yaizar commented on #1024
In a different project:

[code]

[2017-05-23 18:07] rmarabini commented on #1021
Another alternative is modify the wrapper so each step processes 10 micrographs

[2017-05-24 06:36] delarosatrevin commented on #1021
This is something we could discuss during my visit. Indeed, when not in streaming, it is a big difference between processing one by one versus in "batch" mode where more than one are processed in one shot.

[2017-05-24 08:50] josuegbl opened #1025 "magnification distortion estimation fails"
with the following error:

00036:   forrtl: error (65): floating invalid
00037:   Image              PC                Routine            Line        Source
00038:   mag_distortion_es  0000000001780DF9  Unknown               Unknown  Unknown
00039:   mag_distortion_es  000000000177F770  Unknown               Unknown  Unknown
00040:   mag_distortion_es  000000000169BDC2  Unknown               Unkno

[2017-05-24 10:37] yaizar commented on #1024
So it looks like a problem with movies in .mrcs format. [This line](https://github.com/I2PC/scipion/blob/release-1.1/pyworkflow/em/packages/xmipp3/protocol_extract_particles_movies.py#L229) is supposed to create a mrc file with a frame, but it just copies the whole movie to a new mrc file. For movies with other formats it works fine. If we call `xmipp_micrograph_scissor` with `<frame_num>@<movie_n

[2017-05-24 13:44] azazellochg commented on #1025
works for me with same params (pix size is different)
[code]
In your case looks like the program crashes not the scipion.. weird

[2017-05-25 08:42] josuegbl opened #1026 "xmipp filter particles, option ctf help is not clear"
It is a little confusing this option since the help it is not clear. I dont know if this option is to correct the ctf at particle level or to apply a certain ctf to a setOfparticles. In this case I assume that is more for development. In any case, to avoid confusions, the help should be more explicit.

[2017-05-26 08:11] yaizar opened #1027 "ISPyB monitor"
Opening issue in case there's input regarding this. TODOs:
- Simplify use of ispyb api (remove ispyb_proxy and ispyb process)
- Monitor doesn't loop atm, it just gets the available output items from the monitored protocols when executing and finishes right away. Make it loop so it works in streaming mode.

[2017-05-26 10:39] josuegbl opened #1029 "SpiderProtCAPCA has one output twice"

[2017-05-26 10:39] #1029 closed

[2017-05-26 11:31] yaizar opened #1030 "change file polling in import movies streaming"
- Change polling: It's been reported that under certain circumstances the way this protocol checks for new files is too slow or simply not allowed (i.e. when Scipion and the movies are in different machines). We would need to implement an alternative that waits to receive the new movie path instead of listing all files.
- The option "STOP STREAMING" doesn't work if there are attached protocols (li

[2017-05-26 11:55] yaizar opened #1031 "Make it possible to relaunch referenced protocols"
Apparently this has been looked into and was expected to work in release-1.1-headless but it's not happening. One specific use case is if movie acquisition is interrupted in streaming mode and it needs to be resumed after the timeout is over.

[2017-05-30 06:04] #976 closed

[2017-05-30 11:27] cossorzano commented on #1026
I have already updated the comment in release-1.1-fixes

[2017-05-31 07:21] carmensmp opened #1032 "problem to plot ctf resolution histogram when ctffind4 gives Inf"
Sometimes ctffind4 assigns "Inf" value to the maximum resolution ("Thon rings with good fit up to"). This appears in the protocol analyze results as "Infinity" in the _ctffindr_ctfResolution column. Plotting this column as histogram produces an empty plot. Error in terminal says:

/usr/local/scipion/software/lib/python2.7/site-packages/numpy/core/function_base.py:88: RuntimeWarning: invalid value

[2017-05-31 10:19] carmensmp opened #1033 "deleting bad movies"
Sometimes data collection produces movies that we know from the beginning will not usable (eg bad ice, no particles, etc). So it is not worthwhile to keep them using up disk space. It would be good to be able to supervise movies (either by looking at the streaming aligned movie result or by looking at the unaligned movie average given by the microscope), select the bad ones and directly remove all

[2017-05-31 15:03] yaizar commented on #1002
We figured out the issue came because the particles were extracted with relion, and the micId was lost (it has to be accessed through the coordinate). We have added a fix so that it can handle taking micIds from the coordinate, but @josuegbl will look into making relion's extract particles keep  the micIds in the particles themselves.

When I was trying to reproduce this using particles from relio

[2017-05-31 15:06] delarosatrevin commented on #1002
I think the issue of missing micId is fixed in one of the relion-fixes
branch, but maybe not merged into release-1.1. @josuegbl, can you check
this?

On Wed, May 31, 2017 at 5:03 PM, yaizar <notifications@github.com> wrote:

[2017-05-31 16:27] cossorzano commented on #1033
One of the future plans is to include an algorithm that is able to learn
from the user which micrographs make sense to continue processing. But
it is still future plans.

On 05/31/17 12:19, carmensmp wrote:

[2017-05-31 16:37] delarosatrevin commented on #1033
@carmensmp, Thanks for the feedback. Coincidentally, we were discussing
about adding a protocol to remove movies from disk that does not make sense
to keep for further steps.

On Wed, May 31, 2017 at 6:27 PM, Carlos Oscar S. Sorzano <
notifications@github.com> wrote:

[2017-05-31 19:57] josuegbl commented on #1002
You are right @delarosatrevin, this issue is in release-1.1-fixes-relion2 branch and it is not merged yet. Im going to merge the branches as soon as possible.

[2017-06-01 07:22] pconesa opened #1035 "Relion-1.x particle extraction does not work."
@delarosatrevin . I'm getting an error, not sure if it should work or it was only for Relion 2.0.

If I point to Relion-2.0 it works.

[2017-06-01 07:25] delarosatrevin commented on #1035
@pconesa The particles-extraction protocol was developed specifically for Relion-2.x versions. I don't think it worth to make it work for 1.x versions (Indeed it was not even included in the previous release of Scipion).

[2017-06-01 07:27] pconesa commented on #1035
Ok, I'll add a validation for that. Thanks @delarosatrevin

[2017-06-01 07:31] delarosatrevin commented on #1035
I think we can do the same as in picking protocol...if it is not version 2.x or greater, we could hide the protocol. This will be even more clear than the validation.

[2017-06-01 11:03] pconesa commented on #868
@josuegbl has tried to compile it but it wasn't easy. I'm taking it out of the release.

[2017-06-01 11:50] #1004 closed

[2017-06-01 11:50] #1035 closed

[2017-06-01 11:50] #979 closed

[2017-06-01 11:50] #991 closed

[2017-06-01 11:51] #974 closed

[2017-06-01 11:51] #980 closed

[2017-06-01 11:55] pconesa commented on #994
We are releasing tomorrow. Ethan picker is in a PR: https://github.com/I2PC/scipion/pull/1007
But @josuegbl  has reported an issue with the particle radius.

[2017-06-01 21:43] delarosatrevin commented on #994
@pconesa I could try to get the wizard working tomorrow (just to add some dramatic touch to the last moments before the release). Anyway, I think in the worse case, could could disable the wizard and include it in the release. It would be better for users to have the functionality of this picker even if not with the wizard included.

[2017-06-02 07:41] delarosatrevin commented on #994
@pconesa I think I will not be able to make the wizard work before the release. Still I will propose to include the Ethan picker but with the wizard disabled.

[2017-06-02 08:42] pconesa commented on #994
Ok, thanks @delarosatrevin, we can always include it in the "service pack".

On 02/06/17 09:41, Jose Miguel de la Rosa Trevin wrote:

[2017-06-02 14:16] delarosatrevin opened #1040 "Bug in OF movie alignment"
It seems that there is a bug in the OF protocol working (when detecting new output, even if the input is not in streaming). I have seen this error a couple of times before this new one.

@rmarabini , @josuegbl Has this error appeared at the CNB??

Following is the log:

5/  11 sec. xmipp_movie_optical_alignment_cpu -i Runs/000137_XmippProtOFAlignment/tmp/movie_000033/input_movie.xmd -o Runs/000137

[2017-06-02 16:35] pconesa commented on #966
We went for option A, right? @josuegbl

[2017-06-02 16:39] pconesa commented on #978
XmippProtOFAlignment has it's own "_defineAlignmentParams" where "useAlignment" is defined. I guess we are talking about this and we can safely change it to:

group.addParam('useAlignment', params.BooleanParam, default=True,

Right?

[2017-06-02 16:40] pconesa commented on #958
@josuegbl , did you fix this? I remember commenting about this.

[2017-06-03 11:04] josuegbl commented on #966
NO @pconesa, just the opposite, only accept setOfVolumes.

2017-06-02 18:35 GMT+02:00 Pablo Conesa <notifications@github.com>:

[2017-06-03 11:05] josuegbl commented on #958
Yes, it is fixed in release-1.1-fixes-relion2

2017-06-02 18:40 GMT+02:00 Pablo Conesa <notifications@github.com>:

[2017-06-04 12:58] JuhaHuiskonen opened #1041 "ctffind protocol does not accept SetOfMovies as input"
Ctffind4 works on movies in addition to micrographs but the scipion protocol does not have an option for this yet.

[2017-06-04 13:28] delarosatrevin commented on #1041
Yep, other people has asked this feature as well. Do you know if there are any special consideration for calling ctffind4 with micrographs?

[2017-06-04 14:38] JuhaHuiskonen commented on #1041
Some people prefer to use unaligned movies, some prefer micrographs (without dose weighting) so would be good to have both options (maybe add a radio button asking 'use movies instead of micrographs'). Cant think of anything else.

[2017-06-04 14:42] delarosatrevin commented on #1041
Yes...I know. I was thinking more about the ctffind4 command line and
params.

On Jun 4, 2017 4:38 PM, "Juha Huiskonen" <notifications@github.com> wrote:

[2017-06-04 14:54] JuhaHuiskonen commented on #1041
Ah sorry - don't know, thanks to Scipion I rarely use command line nowadays
;-)

On Sun, Jun 4, 2017 at 3:42 PM, Jose Miguel de la Rosa Trevin <
notifications@github.com> wrote:

[2017-06-04 16:15] azazellochg commented on #1041
That's on my todo list as well, for a long time  :) As well as per-particle CTF refinement. Ctffind4 cmd line in case of movies requires a couple of additional options, but the rest is the same. The only thing is movies must have .mrc extension (not mrcs), however simple link/rename works.

[2017-06-04 18:41] delarosatrevin commented on #1041
@azazellochg do you have a branch with something for this? @JuhaHuiskonen I'm not sure if this will be ready for release-1.1, but we are planning a quick 1.1.1 release with some features for facilities such as picking and extraction in streaming. So we could add this feature in this one.

[2017-06-05 08:26] azazellochg commented on #1041
@delarosatrevin  I only started to modify gctf protocol for particle ctf refinement but this is now very much outdated. Nothing for movies though

[2017-06-05 09:39] pconesa opened #1042 "Use enabled data in the histograms of showJ"
When plotting an histogram from ShowJ, use only enabled elements.

[2017-06-05 10:12] #978 closed

[2017-06-05 10:18] pconesa commented on #1041
Good to know, and thank you all for this. We are about to release 1.1, hopefully today, so no time for this. Sorry. But we can have it in the "facilities" branch. or in a later "patch".

[2017-06-05 10:28] pconesa commented on #1040
This does not happen always, right?

[2017-06-05 10:50] pconesa commented on #1040
It seems there is a problem where mic have to be saved without the Dose.

[2017-06-05 12:55] #1026 closed

[2017-06-05 15:05] rmarabini opened #1043 "unify label"
Currently we have three protocols called

   consensus coordiantes
   classes consensus
   ctf comparison

the three should have a more consistent name as

   coordiantes  consensus
   classes consensus
   ctf  consensus

I volunteer to do it

   Roberto

[2017-06-05 15:06] rmarabini opened #1044 "ctf filter add filtered micrographs"
ctf filter should create a set of filtered particles and a set of not filtered particles. I think I will do this too

   Roberto

[2017-06-05 15:08] rmarabini opened #1045 "continue streaming protocols"
this is a reminder for @delarosatrevin about allowing streaming protocols to continue. At present if a streaming protocol ends there is no way to continue it. This is specially important for the scipionbox

[2017-06-05 15:10] delarosatrevin commented on #1045
Thanks for the remainder @rmarabini, I will take a look at it, as soon as I can

[2017-06-05 15:36] pconesa commented on #1044
Many thanks Roberto! This is great!

On 05/06/17 17:06, rmarabini wrote:

[2017-06-05 15:41] delarosatrevin commented on #1043
You are a very clever guy @rmarabini, this is an easy one! Still someone has to do it. I agree with the protocol labels change for consistency.

Coul you also take a look at "assign" ones? See the attached image. I propose that all start with the verb:
assign XXXX
<img width="499" alt="screen shot 2017-06-05 at 17 40 07" src="https://cloud.githubusercontent.com/assets/8441688/26791033/269022ba-4a1

[2017-06-05 15:58] rmarabini opened #1046 "iciness"
After Pablo talk we discussed what was iciness. It seems that it is defined as:

"The ratio of the intensity in the resolution band between 3.5 and 3.9 Å, and between 80 and 30 Å, which gives a good estimate of the ice crystal content of the vitreous specimen". "Images of correctly vitrified samples usually have an iciness value below 1.0."

should not be too difficult to implement

[2017-06-05 16:23] pconesa commented on #1046
I'm very glad my talk has rendered this! I thought it was very
boring....well maybe it still was, but was somehow useful. ;-)

On 05/06/17 17:58, rmarabini wrote:

[2017-06-06 07:52] rmarabini commented on #1043
OK.

[2017-06-07 07:31] rmarabini commented on #1040
Some time ago we indrocude a dose filter in optical flow. If the dose is
not set and the filter is ON many nasty things may happend. I  guess
validate should check this.

   Roberto

On Mon, Jun 5, 2017 at 12:50 PM, Pablo Conesa <notifications@github.com>
wrote:

[2017-06-08 07:37] pconesa opened #1049 "./scipion test tests.em.workflows.test_workflow_relion.TestWorkflowRelionPick is failing"
Check buildbot.

[2017-06-08 07:38] pconesa opened #1050 "./scipion test tests.em.workflows.test_workflow_relion.TestWorkflowRelionExtract fails"
Check buildbot

[2017-06-08 08:50] rmarabini opened #1051 "mrc, convert"
This is a reminder for myself

ccp.convert -> fix writeHeader

a) dictionary should be ordered dictionary
b) writeHeader mast provide a dictionary with the same size that chain
c) function checkScipionCCPHeader is missing

[2017-06-08 10:04] pconesa opened #1052 "Scrip to migrate from Scipion1.0 to Scipion1.1"

[2017-06-08 10:35] josuegbl commented on #1044
the not filtered particles are the inputParticles itself. I could understand generates a new set if the ctf values of the particles are changed for this particles.

[2017-06-08 10:36] #1040 closed

[2017-06-08 10:37] #1002 closed

[2017-06-08 13:23] #1024 closed

[2017-06-08 13:24] #958 closed

[2017-06-09 07:37] ldelcano commented on #1049
On that builder Relion2 was compiled with CUDA 5.5, which is insufficient. Remake link /usr/local/cuda to point to cuda-7.5 and reinstalled packages. Also recompiled Xmipp since opencv / optical flow was compiled also with cuda 5.5.

[2017-06-09 07:52] ldelcano opened #1053 "Buildbot: tests.em.workflows.test_workflow_relion.TestWorkflowRelionExtract fails cause defocusU is not ok"
Test is failing on the following assertion:
self.assertAlmostEqual(ctfModel.getDefocusU(), 23467, delta=10)
because:
AssertionError: 27938.115234 != 23467 within 10 delta

have a look at it to see if there is a problem or delta is not big enough (random output number?)

[2017-06-09 07:57] ldelcano commented on #1050
This is solved but there is new issue (#1053)

[2017-06-09 09:38] pconesa commented on #1053
There is a subset step based on random going from 20 mics to 10.

If the first mic, is randomly selected, then the test for the CTF values of the first particle extracted matches (case for yesterday successful run in buildbot). however, if the random step does not select the mic, then the first particle is not from the first mic and therefore the ctf is not the one expected and the test fails.

Th

[2017-06-12 09:45] delarosatrevin opened #1055 "Showj crash when averaging particles from a class."
It seems that Showj is crashing (not always) when averaging particles from a 2D class. In my case I have been able to reproduce many times, but not always. I have got this error in the cluster here and also in my Linux workstation. The sequence is as follows:

1) Visualize SetOfClasses2D (either from Relion2D or CL2D)
2) Open the particles of a given class
3) Compute STD and AVG images (in some ca

[2017-06-12 10:33] pconesa commented on #837
Same as #1055

[2017-06-12 10:34] pconesa commented on #1055
Thanks @delarosatrevin this is the same as #837. I'm removing the milestone.

[2017-06-12 10:43] pconesa opened #1056 "./scipion test tests.em.workflows.test_workflow_high_throughput FAILS"
hi Laura, could you please double check that your latest changes actually improved the test uncovering a bug in highres, and if so, talk to @coss?

Traceback (most recent call last):
77  File "/home/buildbot-slave/data/slave/release11_Workflows_Tests/build/software/lib/python2.7/unittest/case.py", line 329, in run
78    testMethod()
79  File "/home/buildbot-slave/data/slave/release11_Workflows_Tes

[2017-06-12 10:45] delarosatrevin commented on #1055
Ok, I didn't noticed the previous one, where @josuegbl seems to be shouting out with big bold letters ;)

[2017-06-12 11:19] #994 closed

[2017-06-12 11:19] #1049 closed

[2017-06-12 11:19] #1050 closed

[2017-06-12 11:20] #1019 closed

[2017-06-12 11:21] #1027 closed

[2017-06-12 12:20] JuhaHuiskonen opened #1057 "GUI does not remember collapsed branches"
If I collapse a part of the workflow to hide it, the GUI does not remember this last time I open the workflow.

[2017-06-12 20:22] JuhaHuiskonen commented on #1057
It seems that it is working, maybe the GUI had crashed and the state of the project didn't get saved.

[2017-06-12 20:22] #1057 closed

[2017-06-12 20:46] delarosatrevin commented on #1057
Yes, I think this happens it under that circumstances.

On Mon, Jun 12, 2017 at 10:22 PM, Juha Huiskonen <notifications@github.com>
wrote:

[2017-06-12 21:14] azazellochg commented on #1020
I thought this was fixed several times already... apparently not

[2017-06-13 03:46] coss commented on #1056
Hmm?

[2017-06-13 05:25] pconesa commented on #1056
Don't worry @coss , this was us messing up with the test. It's already fixed locally.

[2017-06-13 05:26] pconesa commented on #1056
Sorry @coss I didn't want to to mention you. I really meant @cossorzano .

[2017-06-13 20:14] JuhaHuiskonen commented on #1041
@azazellochg great to hear per-particle CTF estimation is coming, I was just today looking for that feature. When do you think you will have something ready? Many thanks.

[2017-06-14 09:25] josuegbl opened #1059 "if recalculate CTF fails, you cannot run it again."
this is happening because the psd image is removed and you cannot run again the recalculation. Check if is possible to save the old image and remove only a new psd is created.

[2017-06-14 09:27] josuegbl opened #1060 "join CTF not generates a new setOfMicrographs."
generates a new setOfMicrographs is mandatory because the new setOfCTFs needs a reference set of mics.

[2017-06-14 15:34] pconesa commented on #1020
Me too! Thanks roberto.

[2017-06-14 15:48] pconesa commented on #1020
Done

[2017-06-14 15:48] #1020 closed

[2017-06-15 11:15] azazellochg commented on #1041
same as #146
@JuhaHuiskonen I will close this and keep the original issue open. Can tell for sure when this is ready, but I'll tell you as soon as it comes to devel :)

[2017-06-15 11:15] #1041 closed

[2017-06-16 09:45] sunnoon opened #1066 "MPI missing, couldnt run parallel nodes"
I am using cluster to run scipion. As a beginner, I dont know if my problem is a common problem.
I installed the software as tutorial. But, there is no MPI can choose on the all GUI in micrographs and particles catalogs(protocols SPA). When I run the movie alignment, for example, the cluster was not used. so the process is very slow, can take weeks.
And not only i have the same problem, I know one

[2017-06-16 09:51] delarosatrevin commented on #1066
Hi,
You are running the previous version of Scipion, where some movie alignment
protocols where all together in the same protocol.
Another disadvantage is that it was only working with threads, not with
MPI. I would recommend to updated the recently (yesterday)
released 1.1 version. In that one the movie alignment protocols are
separated and you can also use MPI in some cases.

Hope that helps,
Jo

[2017-06-16 12:10] pconesa opened #1067 "Scipion usage changes"
Add a table with black list ip to be excluded from the statistics (we are strongly contaminating the stats with our tests)

Use that list to exclude data from both stats: protocols usage and map.

[2017-06-16 16:46] pconesa opened #1069 "sort queue list by name"
Display the list of queues sorted by queue name

[2017-06-16 16:48] delarosatrevin commented on #1069
@azazellochg has proposed the following change:
replace
```queues = hostConfig.queueSystem.queues ```
by
```queues = OrderedDict(sorted(hostConfig.queueSystem.queues.items()))```

I haven't test it yet.

[2017-06-16 16:55] pconesa commented on #966
This is not fixed in devel! hmmmm @josegutab ?

[2017-06-20 19:09] JuhaHuiskonen opened #1071 "Multiple versions of the same software?"
I wonder what's the best way to run alternate between several versions of the same software. We have two different versions of Relion, one compiled on our CPU cluster and one on the GPU cluster. Switching between these is a pain and requires manual editing of the users' config files. Some users would like to use single-precision version as well. Would it be possible to support several different ve

[2017-06-21 10:36] yaizar commented on #1030
@pconesa @delarosatrevin I have started working on the streaming via socket. At the moment I have a working version that offers a "Use streaming socket" option in the Streaming tab:
![Screenshot from 2017-06-21 12-28-24.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/58ece4260a68a9002057597e/125516c66e82c728ace21e0d46db978826878dba87e6ab03a24fff99691477227e49f37d3dd7b268ee

[2017-06-21 15:20] delarosatrevin commented on #1071
Hum...it is true that right now is not that easy to switch between different versions. We need to think in a way to allow that without complicating things too much. Thanks for the feedback.

[2017-06-22 10:50] pconesa opened #1073 "Scipion fails when the filemane has " - ""
It is interpreted a a parameter in xmipp programs and may be others

Possible solutions:

escape special characters
pass file names as between ""
...

[2017-06-23 08:59] pconesa opened #1075 "Tolerate opening a project without settings.sqlite or with inconsistencies in it."
Users came wit a project without settings sqlite. they've copied one from another project but still there were some errors (selected protocol id was invalid) and project could not be loaded, after deleting some row project was able to load.

[2017-06-23 09:02] delarosatrevin commented on #1075
Totally agree, settings.sqlite is nice to have, but should not prevent to open a project if something is wrong with it.

[2017-06-23 15:25] cossorzano opened #1076 "Xmipp CTF wizard not working"
It gives the error

Exception in Tkinter callback
Traceback (most recent call last):
  File "/media/coss/f3cf45f0-2cc3-4161-94e7-5f1c70af2e45/scipion/scipion/software/lib/python2.7/lib-tk/Tkinter.py", line 1486, in __call__
    return self.func(*args)
  File "/media/coss/f3cf45f0-2cc3-4161-94e7-5f1c70af2e45/scipion/scipion/pyworkflow/gui/form.py", line 788, in _showWizard
    wizard.show(self.wind

[2017-06-27 12:21] delarosatrevin opened #1081 "Movie alignment protocols not working with compressed movies"
With the refactoring for streaming, now the alignment protocols are broken when using compressed (e.g. bz2) movies as input.

The problem is that the name is change after the movie is decompressed and the expected micrograph name differs.

[2017-06-27 12:21] JuhaHuiskonen opened #1082 "continue crashed relion runs"
Sometimes runs crash if max walltime on a cluster is reach. I can't see an option to continue a run in this case. Perhaps the relion protocols could create/update a relion refinement object after each completed iteration? I think it would be enough to have this object for the last current iteration only.

[2017-06-27 12:24] delarosatrevin commented on #1082
Hi @JuhaHuiskonen, you can make a copy of the protocol and then set 'Continue from previous protocol?' to yes and then use as input the crashed protocol. The new protocol (in continue mode) will continue from the last iteration of the previous one. Is this what you are asking for?

For the future maybe we should consider to allow the 'Continue' to be done within the same protocol to avoid extra (a

[2017-06-28 06:50] JuhaHuiskonen commented on #1082
Hi @delarosatrevin, ok I agree with that logic and it does work as you say. However, the protocol for the crashed run is in a funny state. If I make a copy of if and try to continue to run, I get an error "Error during EXECUTE: unable to close due to unfinalised statements". The same happens if I create a fresh protocol and try to continue from the crashed run. The status of the crashed run is 'fa

[2017-06-28 07:07] JuhaHuiskonen commented on #1082
Hi @delarosatrevin. I got a bit further with my tests. The fact that I have two different Scipion installations that both see the same file system and project has probably something to do with this. If I create a continuation protocol on the same machine (a GPU cluster) where the crash occurred, it works. However, when I execute it on the other machine (a CPU cluster) I get again errors. This time

[2017-06-28 07:22] delarosatrevin commented on #1082
Hi @JuhaHuiskonen, This is a bit strange. Could you check in your project folder if there are some *sqlite.journal files? These files are produced when some sqlite database files are in use and locked, I'm not sure if that could be the case here.

You said the job get submitted despite the errors in the command line, does it status get updated in the project GUI?

[2017-06-28 07:28] JuhaHuiskonen commented on #1082
Hi  @delarosatrevin. There are no journal files in the project folder.  The status of the protocol remained as 'saved' (the job is still in the cluster queue).

[2017-06-28 09:50] pconesa opened #1083 "Have multiple parallel_command in host"
From Grigory:

Provide a different PARALLEL_COMMAND in hosts.conf for a specific queue.

Would be also great to have multiple SUBMIT_TEMPLATE...

[2017-06-28 09:51] #1056 closed

[2017-06-29 11:40] delarosatrevin commented on #1082
If you close and open again the GUI, do you still have similar Sqlite errors?
Could you double-check that are not Scipion related processing hanging around and locking .sqlite files?

[2017-06-29 15:24] azazellochg opened #1087 "Z score distribution plot is gone?"
when doing particle extraction it does not appear anymore...

[2017-06-30 14:42] JuhaHuiskonen opened #1089 "opening a list of input particles is very slow in a large project"
I have a fairly large project and every time I open a list of input particles, it takes over one minute to open - can it be made quicker?

[2017-06-30 16:51] delarosatrevin commented on #1089
Hi @JuhaHuiskonen, we has found the same issue and it seems to be related to having some 2D classification runs with large number of classes. It looks like the tree needs to be populated with many items. We have fix (workaround) and it is almost instantaneous now, we just avoid adding classes as sub-items. What Scipion version are you using? We are preparing a release with facilities features soon

[2017-07-03 07:17] JuhaHuiskonen commented on #1089
Hi @delarosatrevin please email me a patch. I am running 1.1

[2017-07-03 07:21] JuhaHuiskonen opened #1091 "Relion refinement protocol does not create output"
Hi. Sometimes the relion refinement protocol stays in state 'running (done 2/3)' - even though the job has finished on the cluster and the log file says 'FINISHED: createOutputStep, step 3'. Under Summary tab and 'Output' nothing is written. I have tried closing and reopening the Scipion windows but the problem remains. This happened with 3 out of 8 runs with identical parameters but with a differ

[2017-07-03 08:13] josuegbl commented on #1091
HI @JuhaHuiskonen, this is a known issue that has been fixed very recently by @pconesa. You can try  "touch rub.db" to protocol database that is located in logs directory and this should fix your problem.

[2017-07-03 08:30] JuhaHuiskonen commented on #1091
Hi @josuegbl and @pconesa Thanks this worked, at least partially. Two protocols turned green (finished), one became red (failed). I will rerun the one that failed and see what happens.

[2017-07-03 13:19] pconesa commented on #1091
Hi Juha, thanks for reporting. Seems to be the related with other issues
in other clusters.

Could you please, do a quick test and feedback:

1.- cd to the Run/000XXXProtFolder/extra of the protocol with the worng
status

2.- run touch run.db

Check if the status is right after this.

Please let me know.

On 03/07/17 09:21, Juha Huiskonen wrote:

[2017-07-04 08:57] pconesa opened #1092 "Point buildbot to facilities branch"

[2017-07-04 08:57] #1052 closed

[2017-07-04 11:42] delarosatrevin commented on #1089
Hi @JuhaHuiskonen , I have created a branch in the OPIC fork of Scipion. The branch is named 'release-1.1.1-opic' and it is based on v1.1 with some minor bugfixes. I have also added the fix for avoiding the slow selection of inputs. If you do not have OPIC as a remote, you should add it with the following command.

[code]
Then you only need to switch for that branch as:
[code]

Please let me know

[2017-07-04 13:19] #1081 closed

[2017-07-05 08:38] ldelcano opened #1096 "Buildbot step to delete scipion.conf file fails when it does not exist"
Modify the step to check that it exists before deleting it.

[2017-07-05 09:37] yaizar opened #1097 "HTML Report of ProtMonitorSummary"
Retouch report design and add more info about the monitored protocols - for now, add a Micrograph gallery.

[2017-07-05 09:43] delarosatrevin commented on #1097
This is the viewer in desktop, it could be a good starting point for the web report:

![screenshot_20170628_173350](https://user-images.githubusercontent.com/8441688/27858845-0c4c05f4-6177-11e7-8113-81a1f79513f8.png)

[2017-07-05 09:59] yaizar commented on #1073
Which filename?

[2017-07-05 10:18] yaizar commented on #1097
I started with the gallery, it would look something like this - probably without the titles under the image, and adding the rest of the information in the table when we open each single image?
![image](https://user-images.githubusercontent.com/4609687/27859998-045cc794-617b-11e7-91c7-fce23fc66083.png)
![image](https://user-images.githubusercontent.com/4609687/27860066-432869a6-617b-11e7-9bfd-a1e9a

[2017-07-05 10:23] yaizar opened #1098 "Streaming end token file"
Shows up in the streaming tab of import movies but I don't think it's  implemented.
Should we implement it or remove it? The expected behavior of this param would be to enter a filename, say movie21.mrcs, so that the protocol stops when this movie is imported?

[2017-07-05 10:49] delarosatrevin commented on #1097
I think it would be very useful for the users to see the Thong rings, shift plots and defocus values (column values) all at a glance for the movie/micrographs that are visible.

[2017-07-05 11:03] pconesa commented on #1097
let's tweak it a bit.....even if not perfect is great to have something to show in the facilities meeting, and then we will gather feedback.

[2017-07-05 11:04] yaizar commented on #1073
OK I missed the space around the -, got it

[2017-07-05 11:07] delarosatrevin commented on #1097
Yes, but when we discuss about it during my last visit to Madrid...we talk about something similar to the desktop viewer...and it also seems very similar to what people in NeCen had. I think the feedback would be good for further improvement, but I think the desktop one cover the very basic needs of what users are interesting to look. Do you think is to complicated to have something similar in web

[2017-07-05 12:15] delarosatrevin commented on #1087
This bug was introduced in commit 582b6fcb870c28cc89547027a6564d534184a824 by @yaizar , the ProtExtractParticles was removed from the list of targets, but then XmippProtExtractParticles was not added.

[2017-07-05 12:42] pconesa commented on #1097
No, I agree. I'm not saying to stop here....replicating the "viewer" is
what we had in mind.

On 05/07/17 12:07, Jose Miguel de la Rosa Trevin wrote:

[2017-07-05 16:57] azazellochg opened #1100 "isProtocolUpToDate error"
In 1.1.1 branch for some reason femtoseconds are not written in project.sqlite for some of lastUpdateTimeStamp values of the protocols... can't figure out why
[code]

[2017-07-05 17:02] azazellochg commented on #1100
I think this was (possibly) introduced in 6c919c5

[2017-07-05 17:06] pconesa commented on #1100
Thanks Gregory, it rings a bell. Roberto I think showed me that, and not
sure if it's already fixed. I'll check.

This isProtocolUpToDate is appearing to many time recently (myfault).
I'll refactor it to be safer.

On 05/07/17 17:57, Gregory Sharov wrote:

[2017-07-05 17:08] pconesa commented on #1100
So this is the bugfix!

On 05/07/17 18:02, Gregory Sharov wrote:

[2017-07-05 17:51] azazellochg commented on #1100
when I commented out this commit it the problem is gone.

[2017-07-06 08:49] ldelcano commented on #1096
Added option -f to command 'rm scipion.conf' to avoid failing when file does not exists.

[2017-07-06 09:55] pconesa opened #1101 "Allow to type in the filebrowser.."
and write a filename y you click on a file. When saving a workflow.

[2017-07-06 14:29] pconesa opened #1102 "Avoid failing when sending info back through the socket,..."
...if the socket is closed. See commit
https://github.com/I2PC/scipion/commit/7ce1013482fa6445948e7344995fc20812ac90d1

Todo in the facilities branch.

[2017-07-07 08:54] pconesa opened #1106 "Exporting and importing monitor summary does not retain the protocols to be monitored"
![image](https://user-images.githubusercontent.com/785633/27950695-2ee0292c-62fa-11e7-9ce5-e20ed79bd862.png)

It is imported but not linked to the rest of the protocols, as it was at exporting time.

[2017-07-07 09:18] yaizar commented on #1097
OK so here the table:
![image](https://user-images.githubusercontent.com/4609687/27951332-d1bf9628-6304-11e7-8daa-f7d6f14e2275.png)

Images are clickable and when we open them it looks like this:
![image](https://user-images.githubusercontent.com/4609687/27951462-50b72400-6305-11e7-911b-
c3abc28e730b.png)

Let me know if you have any thoughts.

One question, the report dir and the content is destr

[2017-07-07 09:29] delarosatrevin commented on #1097
Hi @yaizar, It looks really great! One more request (sorry for that), could the height of the thumbnails be somehow configured from the monitor? This will provide some flexibility to decide in each site to have less rows but bigger thumbnails view or the other way around.

Regarding the other point, I think re-generating all the time is acceptable for the one html file of the general report, but f

[2017-07-07 10:13] yaizar commented on #1097
I think getting the thumbnail size from the monitor should be possible, I'll look into it. With bigger thumbnails the table will have to be horizontally scrollable though i.e. people won't see the numeric columns at a glance.

About the other point: Okay, I was asking  because I was putting the thumbnails in the same directory as the report and they're getting removed and rewritten every time, so

[2017-07-07 10:29] delarosatrevin commented on #1097
How much will be seen will also depends on how big will be the displaying monitor.

I will try to avoid deleting and copying all thumbnails all the time.

[2017-07-07 10:46] yaizar commented on #1097
well yeah but the rest of the content has a fixed width of 800px, would we want the table to overflow this width?

[2017-07-07 11:01] pconesa opened #1108 "Manager used in scripts with no GUI... fails"
In machines with no GUI using the scripts (in this case the create_project.py)....we are getting errors:

Scipion  release-1.1-headless-devel (2017-07-07) f9ee9af

creating a project at /dls/m02/data/2017/cm16766-3/processed/name1

(the default location would have been /localhome/gda2/ScipionUserData/projects/name1

Creating project at:  /dls/m02/data/2017/cm16766-3/processed/name1/project.sqlite

[2017-07-07 11:40] delarosatrevin commented on #1097
I think it could be useful to make the best use of the available screen. I would say that users in the facilities will have pretty big monitors for that. With boostrap (and I guess other js libraries) it is possible to query the display size or something like that.

[2017-07-07 11:44] delarosatrevin commented on #1108
The problem is here:
[code]
the "plt" should be imported from our own plotter module, like:

[code]

In there we added the following protection to work properly when there is no GUI:

[code]

The problem is that this can easily be forgotten by developers of new viewers like in this case. I don't see a more general way right now to force that.

[2017-07-07 16:18] azazellochg opened #1109 "MotionCor2 v1.0.0 (07-05-2017) update"
The most recent version has been [released](http://msg.ucsf.edu/MotionCor2/MotionCor2-1.0.0.tar.gz) on our website. The added features include:

- [ ] 1. batch processing of TIFF movies,
- [x] 2. correction of fixed-patterns of camera defects,
- [ ] 3. archiving movies stacks in 4-bit format,
- [x] 4. anisotropic mag correction. Note that users need to use the exact output from mag_distortion_esti

[2017-07-10 08:36] #1096 closed

[2017-07-10 08:36] #1092 closed

[2017-07-10 15:04] azazellochg opened #1110 "relion 2 "Inf" values in star files"
When displaying results of 2D classification in relion 2.1 I get tons of warnings:
[code]
The problem is that in new Relion the values that are supposed to be floating point numbers (DOUBLE) sometimes have "inf" value (in old versions they were 999.99 I guess). Is there a way to fix this special case without touching xmipp metadata code? ([here?](https://github.com/I2PC/scipion/blob/master/softwar

[2017-07-11 05:01] pconesa commented on #1108
Thanks Jose

El vie., 7 jul. 2017 1:44 p. m., Jose Miguel de la Rosa Trevin <
notifications@github.com> escribió:

[2017-07-11 10:28] josuegbl opened #1111 "bug in CTF relations causes it not appears correctly in extract particles protocols."
This bug has been repoted by Carmen SanMartin (v1.1 stable release).
The workflow is as follow:
- import and align movies w motioncor2. The outputs are two SetOfMicrographs, with (wDC) and without (woDC) dose correction (DC).
- ctf estimation over the SetOfMicrographs woDC
- subset selection the best CTFs. This protocol generates two subsets: CTFs  and Micrographs (woDC)
- particle picking over th

[2017-07-11 13:15] ldelcano opened #1112 "Scipion read-only"
Investigate what changes are needed to support Scipion read-only.

[2017-07-12 08:36] pconesa opened #1113 "cl2d is failing in users machine."
![image](https://user-images.githubusercontent.com/785633/28108993-c9f82396-66ed-11e7-979c-cc4cfdc4ef7e.png)

This comes from Ilaria using "classificacion 2d (cl2d correlation robust)".

[2017-07-12 08:37] pconesa commented on #1113
@cossorzano ....does this ring any bell?

[2017-07-12 16:45] azazellochg opened #1115 "volume wizards issue"
I might be missing something, but in 1.1 version the filter wizard shows incorrect image on the left panel - it looks like masked something... This is the case with all wizards working on volumes. When I look at the volume itself it looks fine.
![screenshot_20170712_155500](https://user-images.githubusercontent.com/6952870/28128891-32641f58-6729-11e7-9546-c444941b7492.png)

[2017-07-12 23:36] azazellochg commented on #694
@ldelcano @pconesa I have added it in az-relion2.1 branch

[2017-07-12 23:47] #1087 closed

[2017-07-12 23:54] azazellochg commented on #1021
A single Gctf job cannot run on multiple GPUs since it's not supported, however I like the idea of parallelisation over multiple GPUs in batch mode.

[2017-07-12 23:57] azazellochg commented on #1005
fixed in #1088

[2017-07-12 23:57] #1005 closed

[2017-07-13 09:59] pconesa commented on #694
Excellent, thanks @azazellochg. I guess this could go with the next minor release, right?

[2017-07-13 10:00] azazellochg commented on #694
@pconesa I am now checking if everything works with relion-2.1, so it should be ready for 1.1.1, yes

[2017-07-13 10:03] azazellochg commented on #1115
If I import this volume and then use any wizard then it looks ok.

[2017-07-13 10:44] delarosatrevin commented on #694
@azazellochg One question, what is the base branch that you used for R2.1 branch?

[2017-07-13 10:48] azazellochg commented on #694
@delarosatrevin it is based now on release-1.1, I guess I will merge from 1.1.1

[2017-07-13 10:50] delarosatrevin commented on #694
Great! I think this will be a really nice feature for release...it is start becoming no so 'minor' ;)

[2017-07-13 10:59] yaizar commented on #1073
@cossorzano can you give me more details on this? I'm not able to reproduce:
![image](https://user-images.githubusercontent.com/4609687/28163254-a94d2244-67ca-11e7-8099-42c253e9b1af.png)

![image](https://user-images.githubusercontent.com/4609687/28163325-fc90541c-67ca-11e7-8021-967a5896b07e.png)

[2017-07-13 13:35] yaizar commented on #1106
Closing as we haven't been able to reproduce in release-1.1-facilities

[2017-07-13 13:36] #1106 closed

[2017-07-13 13:40] pconesa opened #1118 "gCTF failing, missing file at tmp folder..."
Does anyone have a clue to what is happening with gCTF protocol:

2017-07-12 16:21:17,658 INFO:  STARTED: _estimateCTF, step 1
2017-07-12 16:21:17,658 INFO:    2017-07-12 16:21:17.658304
2017-07-12 16:21:18,734 INFO:  /scipion/release-1.1-headless-devel
 /scipion/release-1.1-headless-devel/scipion/software/em/Gctf-1.06/bin/Gctf-v1.06_sm_20_cu7.5_x86_64  --apix 1.060000 --kV 300.000000 --cs 2.70000

[2017-07-13 13:47] azazellochg commented on #1118
what does the output (Runs/000118_ProtGctf/extra/FoilHole_11970051_Data_11970680_11970681_20170712_1409-frames_aligned_mic/ctfEstimation.txt) shows? Did it calculate ctf?

[2017-07-13 13:54] kevinpetersavage commented on #1118
There is a completely empty file there.

[2017-07-14 06:09] joshuamhardy opened #1119 "Movie Extract Particles Failing (XMIPP_ERROR 47)"
I am trying to use the movie extract particles protocol but it keeps crashing. I have tried with two datasets and I get the same error. I am using manually-picked coordinates and motion corrected movies as input.

I am using the binary version of scipion v1.1.

00001:   RUNNING PROTOCOL -----------------
00002:             PID: 25020
00003:         Scipion: v1.1 (2017-06-14) Balbino
00004:      cu

[2017-07-14 07:43] azazellochg commented on #1119
@joshuamhardy Thanks for reporting this!
I had the same error yesterday, but was able to reproduce it only once. Somehow ImageHandler converts the whole movie into Runs/002715_XmippProtExtractMovieParticles/tmp/movie_000001/frame_01.mrc instead of a single frame.

[2017-07-14 08:37] pconesa commented on #1119
Thank you both! I believe that this is fixed at https://github.com/I2PC/scipion/commit/4245d227d238adb771ce0da5f556f5ffad830999

@delarosatrevin , could you confirm this is the same issue?.

If so, branch release-1.1.1 has it.

[2017-07-14 08:47] delarosatrevin commented on #1119
It could be...but better to check with @josuegbl, who fixed that.

[2017-07-14 13:54] azazellochg commented on #1119
yes, I can confirm this is the fix ;)

[2017-07-14 13:56] delarosatrevin commented on #1119
Great! Thanks @azazellochg

[2017-07-14 14:09] azazellochg opened #1121 "relion2 movie refinement fails"
1.1.1 branch:
Output movie_particles.sqlite from this protocol has empty _coordinate._micnName field, so then Relion "continue" with movie processing creates movie particles star file with "fake_movie" names. This leads to the fact that there is no way relion can tell the which movie the particles come from and crashes:
[code]

[2017-07-14 19:41] azazellochg opened #1123 "improvements for the xmipp viewer"
Suggested by Kai Zhang:
In Display -> Columns would be nice to :
- select/deselect all fields
- "grey out" the checkboxes that can't be activated (lots of them can't be Edited or Rendered)

Also, maybe implement zoom for PSD preview (with high defocus and large mics it is difficult to select resolution range for CTF estimation).

[2017-07-14 19:53] azazellochg opened #1124 "Gautomatch wizard improvements"
Suggested by K.Zhang:
The wizard do not need to start the program every time the user changes Threshold - we could simply filter the picking results (we have all the peaks sorted by CC). However if inter-particle distance is changed, the program has to be re-run.

[2017-07-14 20:05] #1069 closed

[2017-07-14 20:08] azazellochg commented on #1025
@josuegbl is it still the case? Could you dropboxed me the movie?

[2017-07-14 20:24] azazellochg opened #1125 "add cuda 8.0 binaries for Gctf/Gautomatch distribution"
* http://www.mrc-lmb.cam.ac.uk/kzhang/Gautomatch/Gautomatch_v0.53/bin/Gautomatch-v0.53_sm_20_cu8.0_x86_64
* http://www.mrc-lmb.cam.ac.uk/kzhang/Gctf/Gctf_v1.06/bin/Gctf-v1.06_sm_20_cu8.0_x86_64
* http://www.mrc-lmb.cam.ac.uk/kzhang/Gctf/Gctf_v1.06/bin/Gctf-v1.06_sm_30_cu8.0_x86_64

[2017-07-14 20:36] delarosatrevin commented on #1124
Thanks for the feedback. I got a couple suggestions related to this over here.

* In Relion auto-pick wizard, would be better to re-launch the programs for the subset of micrographs (rather than one by one). Will this way be better for Gautomatch as well?
* Highlight (or show the numbers) of new particles (removed particles) after changes in the parameters in the wizard (to have an idea how the ch

[2017-07-14 20:38] delarosatrevin commented on #1123
I agree with this suggestions.

Regarding the PSD, maybe we could increase it size by default...zoom will be a bit more complicated to implement.

[2017-07-14 21:00] azazellochg commented on #1124
I think creating a defocus range subset would be very useful. I always have to do to it manually sorting the mics table. Not sure about number of new particles though - I think this is obvious from total count in the table.
PS. Other things we were discussing long time ago - color particles by CC values and add defocus column to Xmipp picker table, there might be already issues created for this, I

[2017-07-15 00:08] azazellochg commented on #1121
Okay, finally I figured out the cause of the problem, which has nothing to do with micName :D
Relion expects _rlnGroupName to be equal to micname or micname+smth. Looks like Scipion just puts groupname=groupId which is not what Relion expects when expanding the movies.

[2017-07-15 12:15] azazellochg commented on #1118
Does it run if you launch it through "scipion run... " ?

[2017-07-15 12:29] azazellochg commented on #1032
Same as #768

[2017-07-16 13:30] azazellochg commented on #1121
Did a few tests.

relion 1.4, no grouping, movie ref works:
[code]
relion 1.4, grouping, movie ref works:
[code]
relion2, grouping or no grouping, movie ref fails:
[code]

[2017-07-16 16:11] azazellochg opened #1126 "Relion groups are lost after subset selection"
1) run e.g. relion 3d cls protocol with grouping by CTF:
[code]

2) select a subset from the output of (1)
3) run e.g. 3D refine relion protocol with (2) as input, no grouping.

Result: the input star files from (3) do not have any more _rlnGroupName column. Output file have the groups defined from scratch by Relion:

[code]

I am afraid that the other way around (first refine, then classify outpu

[2017-07-16 18:03] #1119 closed

[2017-07-17 10:02] pascalalbanese opened #1127 "alignment errors"
scipion v1.0.1

the alignment of my particles abort with any protocol, both on the uncropped or the cropped ones. The message is the following:

Protocol failed: Command 'mpirun -np 2 -bynode  `which xmipp_mpi_classify_CL2D` -i Runs/000939_XmippProtCL2DAlign/extra/images.xmd --odir Runs/000939_XmippProtCL2DAlign/extra --nref 1 --iter 10 --maxShift 10 --nref0 1' returned non-zero exit status 127

w

[2017-07-17 12:25] azazellochg commented on #1127
@pascalalbanese Dear Pascal, thanks for reporting this. Could you please attach log files for both protocols (Runs/000971_SpiderProtAlignAPSR/logs/run.stdout and Runs/000939_XmippProtCL2DAlign/logs/run.stdout)?

[2017-07-17 12:37] pascalalbanese commented on #1127
[log file scipionsupport.tar.gz](https://github.com/I2PC/scipion/files/1152598/log.file.scipionsupport.tar.gz)

[2017-07-17 12:38] pascalalbanese commented on #1127
the (copy) is the xmipp one

[2017-07-17 12:39] pascalalbanese commented on #1127
another quick question, how can i open an existing project on external HD od another partition?

[2017-07-17 12:47] azazellochg commented on #1127
@pascalalbanese thanks

1. Spider gives an error because it requires csh installed.
2. Xmipp gives an error because openmpi was not properly setup/linked in scipion. I suggest to check MPI-related vars in scipion config file and make sure you can launch a simple test (e.g. `scipion run mpirun -np 4 hostname`)

If I correctly understood your last question, you can create a symbolic link in ScipionU

[2017-07-18 07:31] pconesa commented on #1073
@yaizar , this fails when using the file un an xmipp protocol...try a movie alignment after import.

[2017-07-18 11:56] cossorzano commented on #1073
It fails when after importing you try to do correlation alignment

[2017-07-19 08:19] josuegbl commented on #1126
@azazellochg, from my point of view, this is not an error. When you run a relion protocol grouping by CTF, scipion add  _rlnGroupName column to the .star in convertInputStep. OF course, this information is not propagated to following sets of particles because the outputParticles are the same input set plus the transformation matrix (alignment). If you want to use again the grouping, in other Relio

[2017-07-19 09:22] rmarabini opened #1129 "relion classification "Plot class distribution over iterations""
I think this is for @delarosatrevin ;-). I have seen that relion  classification has now a nice overall section that includes  the option "Prot class distribution over iterations" (Prot should be Plot?). For 2D works great but for 3D I get the error:

---
  File "/usr/local/scipion/pyworkflow/em/packages/relion/viewer.py", line 392, in _plotClassDistribution
    i, fn = row.getValue('rlnReferenceI

[2017-07-19 09:36] azazellochg commented on #1126
@josuegbl I am worried, so none of relion-produced metadata is saved  (when i.e. I run 3d refine and then classification) except the transformation matrix?
As for grouping, I would disagree. Grouping itself is required for proper norm.correction & intensity scale estimation. If you have few particles per micrograph, you can group by either CTF or intensity scale factor (last one is btw not impleme

[2017-07-19 09:45] delarosatrevin commented on #1126
@azazellochg I think the general convention is that only the information in the Scipion standard (in this case Particle) is converted from temporary files (e.g star files) is converted. But of course, our model is flexible and contemplate that package protocols could add additional info to objects (not only Particles). So I guess the point here would be to discuss the implications of adding the gr

[2017-07-19 10:34] pconesa opened #1130 "control error message for blacklisted machines"
notifier is failing on blacklisted machines...server is returning 500 error.
Either change the server to not return 500 error, or control exception in the notifier, and maybe warn that machine is blacklisted.

[2017-07-19 12:41] rmarabini opened #1131 "STrange behaviour when copying a Xmipp extract particle run"
When copying a xmipp extract particles run and changing the input coordinates the related set of micrographs is not updated (if set to Same as picking).
This is confusing and might lead to problems later on the workflow.

[2017-07-19 16:28] azazellochg commented on #1118
Great! Btw, there is a binary for Gctf compiled with CUDA 8:
http://www.mrc-lmb.cam.ac.uk/kzhang/Gctf/Gctf_v1.06/bin/

[2017-07-19 16:49] azazellochg commented on #1126
@delarosatrevin I see. At the moment I have added (in az-relion2.1 branch) the following: if groupname is defined, it is propagated, if not the groupname is set to micid (which relion will do anyway by default). In case user has grouped particles by CTF, this will be saved/propagated.

[2017-07-20 07:46] pconesa commented on #1113
Method combination is: correlation and robust. Data coming from ilaria.

[2017-07-20 08:14] josuegbl commented on #1126
@azazellochg, You are right. I cannot imagine any case where the user would remove the groupName, although he could want re-group his particles after a subset selection. Regarding your question, none of  relion-produced metadata is saved, but only in the case of the particles. Maybe we should save it.

[2017-07-20 13:42] pconesa opened #1135 "plotting 2 values in cl2d fails"
when plotting the convergence of 2 series of cl2d it fails.
Plotting 2 series in other protocols seems to work fine.

[2017-07-20 14:01] pconesa commented on #1118
Thank you @azazellochg

[2017-07-20 14:01] #1118 closed

[2017-07-20 14:02] pconesa opened #1136 "Add gctf cuda 8.0 binary to gctf package"

[2017-07-20 14:04] azazellochg commented on #1136
same as #1125

[2017-07-20 14:04] #1136 closed

[2017-07-20 14:29] pconesa commented on #64
@rmarabini , have you done this?

[2017-07-20 15:32] yaizar commented on #1073
So I've fixed it for both correlation and optical alignment, BUT! If we wanna use xmipp picking next, the picker doesn't launch. I get a window saying:
`SEVERE: No enum constant xmipp.viewer.particlepicker.training.model.Mode.`
and a veeeery long list of warnings and errors that prevent the picker from opening (see picture below).  At this point it's hard to continue fixing paths in commands, beca

[2017-07-21 08:44] yaizar commented on #1098
@delarosatrevin can you confirm if this is missing or I'm mistaken?

[2017-07-21 08:46] delarosatrevin commented on #1098
Hi @yaizar I think we could remove that option. Now there is a more clear way to stop the streaming. The operator can just right-click -> STOP STREAMING and this will generate an special file (which name can not be changed now) that will stop the polling and close the set.

[2017-07-21 09:11] delarosatrevin commented on #1089
Hi @JuhaHuiskonen, has you have time to try this fix?

[2017-07-21 09:14] delarosatrevin commented on #588
What is the state of this issue?

[2017-07-21 09:16] delarosatrevin commented on #912
Any progress on this, @azazellochg ?

[2017-07-21 09:21] yaizar commented on #588
It hasn't been worked on as far as I know, I'll start taking a look probably next week

[2017-07-21 10:48] rmarabini commented on #64
Dear @pconesa ,

    As part of @mmmtnez  work in model building we have proposed (an implemented) a possible schema to solve this issue. We are using it in branch mm_modeling (which is  pull-request state) for the new created protocols. We have suggested a way to go but we have not go protocol by protocol and updated the symmetry option.

In summary, I do not think we can close this issue but I d

[2017-07-21 10:52] azazellochg commented on #912
@delarosatrevin unfortunately I haven't started to look into this yet.

[2017-07-21 10:52] delarosatrevin commented on #64
Dear @rmarabini,

The problem then is that you have started to modify some (or a few) protocols with the symmetry convention change, but not all of them. So this is a bit complicated to merge into the main branch...since it is in an intermediate state. I'm not sure how this change in symmetry convention could affect other protocols, neither the impact on the changes in all of them.

[2017-07-21 10:52] delarosatrevin commented on #64
By the way, I think this should have gone in a separated branch from mm_modeling one.

[2017-07-21 10:54] delarosatrevin commented on #912
Ok, I just wanted to know.

[2017-07-21 11:09] JuhaHuiskonen opened #1138 "time data error"
Hi @delarosatrevin

I updated a couple of days ago to Scipion branch release-1.1.1

I opened an old project with this new release. Importing another set of movies worked. However protocol 'xmipp - extract coordinates' failed with this error:

'2017-07-21 13:49:35' does not match format '%Y-%m-%d %H:%M:%S.%f'

I closed Scipion and tried opening the same project from the older version (1.1). That gi

[2017-07-21 11:12] delarosatrevin commented on #1138
Hi @JuhaHuiskonen,

Do you have more info about where in the code this error is raised? I will look at it and try to fixed as soon as possible for you to continue working. Sorry for that.

@pconesa Do you have an idea about this %f femtoseconds change?

[2017-07-21 11:26] pconesa commented on #1138
@JuhaHuiskonen I think we might have identified the problem...do you get something else in the log or console?

[2017-07-21 11:34] rmarabini commented on #64
In retrospective you are right.

     Roberto

On Fri, Jul 21, 2017 at 12:52 PM, Jose Miguel de la Rosa Trevin <
notifications@github.com> wrote:

[2017-07-21 11:48] pconesa commented on #1138
hi @JuhaHuiskonen , could you try now, pulling changes from release-1.1.1  branch? and feedback please?

[2017-07-21 12:12] JuhaHuiskonen commented on #1138
hi @pconesa
I did a fresh pull in that branch and now I can open the project. Thanks for fixing it so quickly!

[2017-07-21 12:18] JuhaHuiskonen commented on #1089
Hi @delarosatrevin I tried and this happens:

git checkout -b release-1.1.1-opic -t opic/release-1.1.1-opic

fatal: git checkout: updating paths is incompatible with switching branches.
Did you intend to checkout 'opic/release-1.1.1-opic' which can not be resolved as commit?

[2017-07-21 12:21] pconesa commented on #1138
Great! It's our responsability not to stop you from working. Actually, @delarosatrevin did the hot fix.
Thanks @delarosatrevin

[2017-07-21 12:21] #1138 closed

[2017-07-21 12:23] pconesa commented on #1130
it hapens that josu's machine was duplicated in the blacklist table. In any case, error massage should not appear in the console in case of another 500 error hapens on the server.

[2017-07-21 12:23] delarosatrevin commented on #1089
Maybe the command does not work for that particular git version. Just try:

git checkout release-1.1.1-opic

Let me know if that works. I have updated that branch right now...so it is based on release-1.1.1 plus the fix for quicker selection of input objects.

[2017-07-21 12:24] delarosatrevin commented on #1130
I think blacklisting @josuegbl  twice (or triple) is a good idea.

[2017-07-21 12:34] JuhaHuiskonen commented on #1089
OK, that git command worked but It still takes about 3 min to open the list of particles sets

[2017-07-21 12:39] pconesa commented on #1130
;-), yes once error is catched, I'll blacklist @josuegbl 3 or 4 times!

[2017-07-21 13:09] yaizar commented on #1073
I'm gonna follow @josuegbl 's advice and remove the spaces when we create the file copies/symlinks at the very beginning (I wasn't aware of those! minimum amount of code & fixes most problems :) ). I'll look a bit into the white spaces in the folder name, but I think this is a different issue that's most likely gonna remain for now.

[2017-07-21 13:57] rmarabini commented on #1130
This is fixed, the error has not in scipion code but in webservices code. File models.py has been modified so the same ip address can not be introduced twice in the blacklist table (see unique=True in client_ip atribute). I close the issue

[2017-07-21 13:57] #1130 closed

[2017-07-21 14:34] rmarabini opened #1142 "relion-autorefine can not read set of volumes (facilities-pr-devel)"
INTRODUCTION
The usual workflow with relion require the execute relion - classify followed by relion - autorefine.
One of the inputs of relion autorefine is a 3D map. This 3D map usually is computed by relion - classify. In fact, relion-classify computes several 3Dmaps that are  stored as a stack of volumes

THE PROBLEM

Using the very same project I do the following:

* (release 1.1)  open  relio

[2017-07-21 14:53] yaizar commented on #977
Closing as we fixed this on https://github.com/I2PC/scipion/commit/3256673e7104591fe05c924ca694350243290bdb

[2017-07-21 14:53] #977 closed

[2017-07-21 16:06] rmarabini opened #1143 "compile opencv in ubuntu 16 with cuda"
If I try to compile opencv in ubuntu 16 with cuda 1.7 I get the error:

   error: ‘memcpy’ was not declared in this scope #4

solution

  add the following line in the front of the CMakeLists.txt

  set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -D_FORCE_INLINES"),

May be we should add this line and repack opencv. At least this should go to the installing section

[2017-07-21 19:55] azazellochg opened #1145 "RLN_MICROGRAPH_NAME is always set to MicId"
This thing looks almost as old as Scipion :) I just wanted to know why this is so? Was this some old bugfix?
If the particles do not have associated micrographs then it would make sense to set this to micId, but otherwise micName should be preserved (since its rendered by default when displaying particles, I see nice red crosses...

https://github.com/I2PC/scipion/blob/master/pyworkflow/em/package

[2017-07-21 20:12] #1127 closed

[2017-07-21 20:13] azazellochg commented on #1101
@pconesa actually, when importing things, and address bar would be VERY nice.

[2017-07-21 20:16] azazellochg opened #1146 "relion viewer: particle angular assignment"
opens a data star file with particles.. what is the purpose of this?
PS. this is for auto-refine jobs

[2017-07-21 21:14] azazellochg opened #1147 "movie extr particles crashes with mpi"
Scipion 1.1. Beta-gal mrcs movies from Relion tutorial.
After few minutes the protocol is shown as running, but it is not the case (there is a dump file core.***** in projects folder). It crashed both on cluster and on a local machine.  When running with threads - everything is fine. I wonder whether anyone else encountered this or this is specific MPI-installation-related?

Log file:
[code]

[2017-07-21 21:23] azazellochg opened #1148 "relion: move mask creation to convertInput step"
Otherwise masks are converted every time I ran the protocol in continue mode/relion continue mode, which has no use :) What I mean is that convert mask takes place now before any other steps of the protocol.
https://github.com/I2PC/scipion/blob/master/pyworkflow/em/packages/relion/protocol_base.py#L976

[2017-07-21 21:33] azazellochg commented on #1148
it's actually created in tmp folder, so I think it's fine. My bad

[2017-07-21 21:33] #1148 closed

[2017-07-22 10:30] azazellochg commented on #1100
Fixed in #1139

[2017-07-22 10:30] #1100 closed

[2017-07-22 11:15] delarosatrevin commented on #1145
Yes, maybe it is a good moment to review this. I think the original reason was because in early versions of Relion, it used that field to group the particles by CTF....which probably is no longer the case. Nevertheless, the micName is kind of id, so it is possible that it does not exist. In fact, if you start by importing movies...the micName will be generated based on the movie name and propagate

[2017-07-22 11:17] delarosatrevin commented on #1147
Can you check if other protocols that use MPI for the parallelization of steps (STEPS_PARALLEL) also fail in these systems? (e.g, movie alignment or CTF estimation)

[2017-07-22 11:20] delarosatrevin commented on #1146
The purpose of this option is just to display the particles with the angular information per iteration...the *data.star file. I think it can be useful to check how the refinement (in this case) is going without converting to Scipion format yet.

[2017-07-22 16:18] azazellochg commented on #1146
Ah, all right then..

[2017-07-22 16:18] #1146 closed

[2017-07-24 07:37] JuhaHuiskonen commented on #1121
Hi @azazellochg thanks for the fix, I encountered today the same issue.

[2017-07-24 08:27] azazellochg commented on #1121
Hi @JuhaHuiskonen, it's fixed only in my branch so far (az-relion2.1). Also I have made a lot of changes and have to check later everything in old relion versions.
There is still something wrong with movie refinement in scipion since my single-frame reconstructions during subsequent polishing look like nonsense

[2017-07-24 09:30] azazellochg commented on #1147
@delarosatrevin both ctffind4 and unblur seems to work with both threads/mpi locally/on cluster

[2017-07-24 09:37] #1129 closed

[2017-07-24 09:41] delarosatrevin commented on #1147
Hum...that's more weird

[2017-07-24 10:47] rmarabini commented on #1142
Fix by merging facilities 1,1,1 into facilities-pr-devel

[2017-07-24 10:47] #1142 closed

[2017-07-24 12:25] yaizar commented on #588
Been looking into this, unfortunately I don't think this is an issue we can solve without compromising the protocol _genericness_ and simplicity... Either we need the user to tell us **exactly** where in the pattern can we find the mic name we need to match (so we keep the input filename generic, but we make the protocol input more difficult). Or we'd need to match the mic name with the folder nam

[2017-07-24 15:06] azazellochg commented on #836
@josuegbl could you please elaborate? :) I didn't quite understand. Does he want a create mask 2d protocol? Or add the option to use a mask in 2d classification?

[2017-07-24 17:03] azazellochg opened #1151 "group particles after relion run"
Regroup particles based on intensity scale factor after 2d/3d relion run. This could be implemented in a relion viewer..
An example of how it is done in relion: [here](https://github.com/3dem/relion/blob/master/src/displayer.cpp#L1052)

[2017-07-24 17:15] azazellochg opened #1152 "xmipp extracts blank particles"
When option doBorders (--fillBorders) is False xmipp extracts blank particles. Few suggestions:

1. Wrong help: "Xmipp by default skips particles whose boxes fall outside of the micrograph borders. Set this option to True if you want those pixels outside the borders to be filled with the closest pixel value available." Xmipp doesn't skip such particles.
2. Add this option to extract movie particle

[2017-07-24 17:25] azazellochg opened #1153 "Average every X frames when extracting movie particles"
Implement this as soon as extract protocol can extract from movies and not individual frames (as of now)

[2017-07-25 08:13] josuegbl commented on #836
@azazellochg this issue was to add a mask in 2d classification, and its done. I close the issue.

[2017-07-25 08:13] #836 closed

[2017-07-25 08:37] JuhaHuiskonen opened #1154 "xmipp3 - extract movie particles fails if background radius default (-1) is set"
If I don't change the default value -1 under advanced options I get the following error:

in _runNormalize
    bgRadius = int(size/2)
TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'
Protocol failed: unsupported operand type(s) for /: 'NoneType' and 'int'
FAILED: processMovieStep, step 1
  2017-07-25

[2017-07-25 08:38] JuhaHuiskonen opened #1155 "xmipp3 - extract movie particles fails if normalize particles is used"
If I switch particle normalization on I get the following error (if it is off, the protocol runs normally):

Starting at step: 1
 Running steps
STARTED: processMovieStep, step 1
  2017-07-25 11:00:50.970980
Processing movie: Runs/014418_XmippProtExtractMovieParticles/tmp/movie_000001/FoilHole_9557311_Data_9558295_9558296_20170310_1615-256636_aligned_movie.mrcs
xmipp_transform_normalize -i Runs/014

[2017-07-25 10:02] josuegbl commented on #1154
@JuhaHuiskonen , im working on

[2017-07-25 10:25] delarosatrevin commented on #1154
Great @josuegbl ...check what @azazellochg has done in his branch for Relion 2.1

[2017-07-25 11:21] azazellochg commented on #1154
I remember this and haven't fixed it, so go ahead :)

[2017-07-26 12:57] azazellochg commented on #365
I don't think this is gonna work since summaries/methods are not well written for most of protocols and updating them (#711) first will take years :)  Also this information is by design very scarce and in my opinion will not be used for the papers.

[2017-07-26 13:06] azazellochg commented on #433
When I click Toggle color mode, there are normal one, age and labels, right? I can distinguish the last two. Could this be shown somewhere on the project window (top right?)

[2017-07-26 15:48] azazellochg commented on #684
@pconesa which protocol is that? join star files?

[2017-07-31 07:46] pconesa commented on #684
To be honest...i don't know...seems someone came and ask for it and I just wrote his/her words...
@josuegbl  any idea of what this could be referring to?

[2017-07-31 07:57] pconesa commented on #433
You mean like, indicating which mode is active, right?...age mode is still behaving weird.

[2017-07-31 12:43] azazellochg commented on #433
@pconesa ye, this is what I meant. I did find on release notes that older protocols are more blue-ish, but an indication would be great.

[2017-07-31 14:55] rmarabini opened #1159 "Model building todo list:"
Model building todo list:

        #TODO: convert input file to mrc if needed
        #TODO:    check shifts in the conversion
        #TODO:    add CRYS record if needed
        #TODO     see mask created by refmac

        #TODO: molprobity, programatically
        #TODO: chimera, contacts and classes
        #TODO: PDB utilities
        #TODO:       utility add symmetry matrices in PDB

[2017-08-01 15:31] #996 closed

[2017-08-01 18:22] azazellochg opened #1162 "Wrong conversion from magdist to motioncor2"
I was looking into new motioncor2 and found out that the distortion parameters for old version are not correctly passed [here](https://github.com/I2PC/scipion/blob/master/pyworkflow/em/packages/motioncorr/protocol_motioncorr.py#L309).
The correct code is:
[code]
Should I create a hotfix PR from master?

[2017-08-01 19:48] delarosatrevin commented on #1162
Hi @azazellochg You should fix this from a hotfix PR from release-1.1.1, this should be a release soon.

[2017-08-04 18:06] azazellochg opened #1164 "xmipp picker issue"
1.1.1 branch
Xmipp supervised picker seems not to take into account that I changed the threshold after training run. It
 saves all autopicked particles (435) instead of 316+27
![screenshot_20170804_190229](https://user-images.githubusercontent.com/6952870/28981018-ce87b216-7947-11e7-8a73-1618c91b46ce.png)

[2017-08-07 10:55] JuhaHuiskonen opened #1165 "protocol to expand symmetry"
Hi @josuegbl @delarosatrevin  Could you please add a protocol for 'relion_particle_symmetry_expand' please. This would be beneficial in focused 3D classification and localized reconstruction workflows.  Also, I think you could do the same easily by modifying the existing protocol 'xmipp3 - break symmetry'.. Instead of writing one of the many symmetry related orientations, you would simply write al

[2017-08-07 11:27] delarosatrevin commented on #1165
Thanks a lot @JuhaHuiskonen for your feedback. I will discuss with @josuegbl and try to implement it as quick as possible.

[2017-08-07 13:39] kevinpetersavage commented on #1112
I've been looking into this as @pconesa contributed a fix to te release-1.1-headless-devel branch we are using. I see this when I try and open a read only imported project:

/dls_sw/apps/scipion/release-1.1-headless-devel/scipion/software/lib/python2.7/site-packages/setuptools-5.4.1-py2.7.egg/pkg_resources.py:1049: UserWarning: /home/nnp95151/.python-eggs is writable by group/others and vulnerable

[2017-08-08 15:30] delarosatrevin commented on #588
I think the work around in this PR still does not fix the import problem. I have found a couple of problems:
1) If no matching, empty sets are created (probably this happened before the changes of this PR)
2) The is not matching of all items for names like: mic1.mrc, mic2.mrc and mic10.mrc

I have added a failing test case for it.
Still, I think there is no easy solution for this problem without r

[2017-08-09 07:00] pconesa commented on #1112
Hi @kevinpetersavage , this is not expect to happen unless you are dealing with old code. Could you confirm this is with new code that has the readonly changes? I'm confused.

[2017-08-09 07:20] pconesa opened #1167 "xmipp3 - extract particle pairs fails"
Scipion Development Team:

I have encountered an issue with the "xmipp3 - extract particle pairs" protocol running Scipion as distributed in SBGrid. The full run.stdout log is attached; the relevant output for the failed step is included here:

01337:   STARTED: createOutputStep, step 791
01338:     2017-08-07 10:00:01.087211
01339:   Traceback (most recent call last):
01340:     File "/home/sbgri

[2017-08-09 08:23] delarosatrevin opened #1168 "motioncor2-1.0.0 shifts differences respect to 17.01.30"
This is just a reminder about the differences to clarify what is happening.

[2017-08-10 08:48] yaizar commented on #588
I think the work around in this PR fixes the import problem specified in this issue, but not all import problems:
1. This is accurate, creates empty sets without this PR's code. This is unrelated to having files with conflicting names. Should we do something about it? Fail instead of creating empty set?
2.  I don't understand this :/ can you rephrase?

I have checked your test, and the used patter

[2017-08-10 10:03] azazellochg commented on #588
could we just ignore *_avrot.txt files? "_avrot" is a constant suffix added by ctffind4 and cannot be changed by user.

[2017-08-10 11:05] yaizar commented on #588
I personally think it is best to deal with that by choosing the right pattern rather than coding it inside the protocol, but if you guys agree on that then sure, we can make it happen.

[2017-08-10 15:33] delarosatrevin commented on #588
Hi @yaizar, you were right, the fail of the test that I added was somehow related to the pattern used. Nonetheless, we should try make the software as robust as possible (until some extent, of course). Anyway, it seems that with the last commit is also work properly even with the wrong pattern, thanks!

@azazellochg I agree with Yaizar that I prefer to document and encourage to use the correct pat

[2017-08-10 21:33] 1aviervargas opened #1172 "Store the information about particles distribution after gold standard"
Hi there,

I am working on the enrich method. After discussion with Coss and JM we decided to use gold standard somehow to show we have not model bias problems. The point is that I need the information about how particles are distributed between the two halves after autorefine. In Scipion this information is not stored. I have edited relion import to incorporate this information (tested) and also

[2017-08-11 14:22] azazellochg commented on #1168
@delarosatrevin AFAIK, new version reports "better" shifts.. :)
Shall we add in the test protocol to just check if the number of shifts = N of frames

[2017-08-11 14:23] #1109 closed

[2017-08-11 14:28] delarosatrevin commented on #1168
OK, maybe some like this is the best we can do in the test.
Maybe apart from N of shifts = N of frames we can test that
there are non-zero values (that is the default for no shift) in
some of them. What do you think? With this we can close this issue.

[2017-08-11 17:59] 1aviervargas opened #1173 "Error in relion -3D auto-refine"
After 3D classification if I try to refine particles with alignment using auto-refine protocol with flag 'Consider previous alignment?' to Yes I get the following error at devel-fixes branch:

00011:   STARTED: convertInputStep, step 1
00012:     2017-08-11 13:55:14.025697
00013:   Converting set from 'Runs/002723_ProtUserSubSet/particles.sqlite' into 'Runs/003269_ProtRelionRefine3D/input_particle

[2017-08-11 20:49] 1aviervargas opened #1174 "Error compiling devel branch with CUDA = True and OpenCV=True because weird program 'xmipp_gpu_example'"
In devel-fixes branch compiling with CUDA = True appears the following error shown below.
@pconesa  Should a program called "xmipp_gpu_example" be in the remote devel branch?

**o software/em/xmipp/applications/programs/gpu_example/gpu_example.o -c -O3 -Isoftware/em/xmipp/external -Isoftware/em/xmipp/libraries -Isoftware/em/xmipp/None -Isoftware/em/xmipp/libraries -Isoftware/include -Isoftware/inc

[2017-08-12 15:40] azazellochg commented on #1173
In release-1.1.1 I do not have this error. I did 3d classification, saved a subset and ran 3d refine considering previous alignment.

[2017-08-14 12:11] 1aviervargas commented on #1173
Thanks, I will check it also in release-1.1.1

On Sat, Aug 12, 2017 at 11:40 AM, Gregory Sharov <notifications@github.com>
wrote:

[2017-08-14 16:38] 1aviervargas commented on #1173
I checked also with release-1.1.1 and it fails but seems that is a problem related with the particles (the project is old) maybe from may. If I do the same using the particles after auto-refine there is no problem.

[2017-08-14 16:38] #1173 closed

[2017-08-15 21:45] #1066 closed

[2017-08-16 11:11] pconesa commented on #1174
Hi @1aviervargas , I guess this is devel branch....maybe @rmarabini or @cossorzano know more about this gpu_example.cpp program.

[2017-08-16 16:28] #1154 closed

[2017-08-16 16:30] JuhaHuiskonen commented on #1165
Hi @delarosatrevin any update on this?

[2017-08-16 16:31] #1155 closed

[2017-08-17 06:23] pconesa commented on #1172
I'll assign this to @josuegbl, he can better check this than me.

[2017-08-17 09:16] josuegbl commented on #1172
@1aviervargas, did you submitted the proposed changes? I think you should add _rln before the name of the label, cause this label is specific to Relion. Maybe you can consider split your set into two subsets randomly in your protocol, instead storing a relion label.

[2017-08-17 12:10] 1aviervargas commented on #1172
Hi @josuegbl <https://github.com/josuegbl> I did in my branch but not
merged with debel yet. Should I merge only this change? In addition, the
problem I see with what you suggested is that if any other protocol wants
to expose this information this label is not adequate. I agree that maybe
is better to add the label _rlnHalfId now and then think if we include this
information in Scipion model afte

[2017-08-17 12:29] azazellochg commented on #1165
Hi @JuhaHuiskonen @delarosatrevin
I have added relion expand protocol to az-relion2.1 branch, you can have a look and test.

[2017-08-17 12:34] delarosatrevin commented on #1165
@azazellochg Thank you so much for this! I haven't had time to look at it. @josuegbl and myself are looking in the Relion 2.1 PR to merge this into release-1.1.1 branch.

Since we are planning an upcoming release with some facility-oriented features (not exclusively, such as: picking in streaming and extraction). We are planning to merge both release-1.1.1 and release-1.1-facilities-devel and it w

[2017-08-17 13:53] azazellochg commented on #588
Hi @delarosatrevin @yaizar
 I ran a test with both gctf/ctffind4, the matching works and nice warning are displayed (using default pattern img*.txt or *gctf.log).

About the pattern use: I agree that user should provide a more specific pattern for ctf files. In this particular case (ctffind4), we want to avoid *avrot files. I tried to provide "img*[^avrot].txt" pattern but it does not work.

[2017-08-17 14:42] azazellochg commented on #794
Xmipp works with mpi from cmdline irrespective of whether xmipp.cfg is edited or not:
[code]
Is xmipp.cfg is still used for something?

[2017-08-17 14:44] delarosatrevin commented on #794
I'm not completely sure...but I think xmipp.cfg is not longer used.

[2017-08-20 21:15] azazellochg commented on #912
@delarosatrevin
So, I have got a first draft for a separate protocol (my fork, branch local_ctf). Few things to note:
1) Gctf estimates CTF de-novo for the full mic, and then refines locally for each particle. This is default behaviour.
2) This means the separate protocol is almost the same as original one, but input particles and mics are required. I didn't find a way to get mics' sampling and fu

[2017-08-21 06:50] delarosatrevin opened #1181 "Showj crashes when visualizing CTFs and trying to recalculate"
I don't have a very well defined path to reproduce this error, but it happens quite often when visualizing the result of a SetOfMicrographs and trying to recalculate the CTF for some of them. I have got the following exception in the console:

Exception in thread "Run$_AWT-EventQueue-0" java.lang.NullPointerException
        at ij.plugin.frame.Recorder.record(Recorder.java:221)
        at ij.gui.E

[2017-08-21 08:05] pconesa commented on #1181
Thanks Jose...couldn't reproduce it here but will investigate. Good to know this is happening.

[2017-08-21 19:18] delarosatrevin commented on #912
Thanks @azazellochg. I will take a look as soon as I can.

[2017-08-22 09:16] #1168 closed

[2017-08-22 15:16] delarosatrevin opened #1183 "Bug when trying to open a path from OutputLog"
In the OutputLog of any protocol, one can select a path, then right click and 'Open path', this is not working now. The following exception is thrown:

Exception in Tkinter callback
Traceback (most recent call last):
  File "/data/josem/work/devel/scipion/software/lib/python2.7/lib-tk/Tkinter.py", line 1486, in __call__
    return self.func(*args)
  File "/data/josem/work/devel/scipion/pyworkflow/

[2017-08-25 06:43] cossorzano opened #1185 "IgnoreDuplicates not used?"
In pyworkflow/em/protocol/protocol_sets.py, ProtUnionSet there is a form field called ignoreDuplicates, but it seems not to be used in the implementation

[2017-08-29 09:18] #1073 closed

[2017-08-29 09:19] #1112 closed

[2017-08-29 09:22] #1097 closed

[2017-08-29 09:22] #1098 closed

[2017-08-29 09:24] #588 closed

[2017-08-29 10:01] yaizar commented on #1183
Just a note, this doesn't work when the path is a folder. Paths to files open OK (I tried a movie and a text file).

[2017-08-29 10:04] yaizar commented on #1101
closing as this is addressed in #1182

[2017-08-29 10:04] #1101 closed

[2017-08-30 06:28] cossorzano opened #1186 "Force DB update"
For the project DB update if the protocol DB is newer. This situation arises when the same project is run in two different machines

[2017-08-30 12:09] #694 closed

[2017-08-30 12:09] #1126 closed

[2017-08-30 12:09] #1121 closed

[2017-08-30 12:10] #1145 closed

[2017-08-30 12:10] #1014 closed

[2017-08-30 12:11] #564 closed

[2017-08-30 12:11] #1152 closed

[2017-08-31 02:28] #1165 closed

[2017-08-31 07:54] #926 closed

[2017-08-31 08:10] cossorzano opened #1189 "Add "Select from here" in the protocol graph"
It is very useful to delete parts of the processing

[2017-09-01 10:08] yaizar commented on #1183
@pconesa : I added the fix to pr #1182 as @delarosatrevin suggested (bug was a mix of a wrong call to subprocess.popen in ad6731a + I guess an outdated way to open the browser)

[2017-09-04 08:34] rmarabini commented on #1174
Hi @1aviervargas ,

My guess is: in order to compile xmipp_gpu example you need a GPU compiler. The location of the compiler is defined by the environment variables

NVCC = nvcc --x cu -D_FORCE_INLINES
NVCC_INCLUDE = /usr/local/cuda/include
NVCC_LIBDIR = CUDA_LIB

These variables were not available at scipion 1.1.

Solution: delete file config/scipion.conf and recreate it
   scipion install

@1avi

[2017-09-04 10:48] yaizar commented on #1135
I've looked into this and it's a bit hard to debug - with cl2d  I'm unable to see prints I put inside  the function [plotFile](https://github.com/I2PC/scipion/blob/master/pyworkflow/em/plotter.py#L114). I can see them with the rest of the protocols, so I'm not sure how is cl2d making these plots...

[2017-09-07 10:39] azazellochg opened #1194 "join ctf sets failing"
I have a rather weird error in branch 1.1.1. Both inputs look fine, however join fails.
[code]

[2017-09-07 10:51] delarosatrevin commented on #1194
Does both sets have the same number of columns? We need to make the join more robust when there is a mismatching of the number of columns...I have done some workaround for set of particles...but still fails for some cases.

[2017-09-07 10:58] azazellochg commented on #1194
ah, you are right, this is the problem.

[2017-09-07 10:58] #1194 closed

[2017-09-11 11:25] delarosatrevin commented on #1183
@yaizar Could we close this bug after you fix?

[2017-09-11 11:28] delarosatrevin commented on #1164
@pconesa This seems like an important issue in Xmipp picker...who is now in charge of Java-base interfaces? Could someone take a look at this?

[2017-09-14 07:31] #1102 closed

[2017-09-14 09:42] #1030 closed

[2017-09-14 09:47] pconesa commented on #1089
@delarosatrevin , can I close this?

[2017-09-14 09:48] #1183 closed

[2017-09-14 10:09] delarosatrevin commented on #1089
Yes, I think this is fixed already.

[2017-09-14 10:09] #1089 closed

[2017-09-14 12:33] pconesa commented on #1164
I'm having a look....@azazellochg, it is even worse....different thresholds per micrographs are not handled correctly, it is stored but the "Automatic" count does uses per micrograph threshold.

[2017-09-14 12:37] azazellochg commented on #1164
@pconesa well, that's good that I dug this out :)

[2017-09-16 00:08] kylelmorris opened #1204 "Protocol className 'XmippProtOFAlignment' not found!!!."
Does anybody know what this error means, reported to the terminal when trying to open previous projects?

Protocol className 'XmippProtOFAlignment' not found!!!.
Fix your config/scipion.conf configuration.

The error is not consistently reported with some projects opening but others not.

Thanks for your help!

[2017-09-16 12:58] azazellochg commented on #1204
@kylelmorris thanks for reporting this. @delarosatrevin I was wondering whether this could be the case for old projects created in scipion 1.0 where we had one single movie protocol? I know there is a hack ProtMovieAlignment = XmippProtOFAlignment but was it tested?

[2017-09-16 15:44] kylelmorris commented on #1204
Thanks @azazellochg. Perhaps it’s this but it would be strange then there is not a correlation between project creation date, thus version, and this error. My oldest projects open fine. It’s a few RCT projects that fail to open.

Where does the hack get used and I’ll try it?

[2017-09-16 18:50] pconesa commented on #1204
Could this be the other way around? Opening  a new project with
XmippOFAlignment (appeared in v1.1) with v1.0?...wild Saturday night
guess...but sober, I promise.

On sáb., 16 sept. 2017 5:44 p. m. Kyle Morris <notifications@github.com>
wrote:

[2017-09-16 19:05] delarosatrevin commented on #1204
Yes, I would think is what Pablo suggested, that you are trying to open a
new project with an old Scipion version. Kyle, could you confirm which
Scipion version are you using? In the protocols output log file the version
should also be printed. Moreover, we also added a "LegacyProtocol" class in
Scipion v1.1 but for backward compatibility...i.e that you could open
projects with protocols that coul

[2017-09-18 14:09] ldelcano commented on #1168
Hi! test test_protocols_motioncor2.py is failing on this assert:
self.assertNotEqual(zeroShifts, shifts, msgShifts)
which was introduced on this issue. Do you have any idea why this could be happening?
It fails on buildbot with MOTIONCOR2_HOME = %(EM_ROOT)s/motioncor2-1.0.0
thanks
Laura

[2017-09-18 14:28] JuhaHuiskonen opened #1206 "phase shift not shown"
Analyze results -table does not show the phase shift determined by CTFFIND4

[2017-09-18 21:27] azazellochg commented on #1168
Hi, @ldelcano, that's strange. The test works for me in release-1.1.1 branch..

[2017-09-19 05:51] JuhaHuiskonen opened #1208 "phase shift not written by 'relion - export ctf'"
Protocol 'relion - export ctf' does not write the value of phase shift in the output STAR file.

[2017-09-19 08:21] ldelcano commented on #1168
Hi @azazellochg. It seems the failure is because cuda 8 is not installed. There was a hidden error although protocol finished ok.

[2017-09-20 08:19] rmarabini opened #1212 "facilities-devel: render images by default in motioncorr/ctffind viewer"
visualization of motioncorr and CTFFind4. I do not see movies/micrographs by default (need to play with render option). This was not the previous behavior. I like to see the images by default.

[2017-09-20 08:24] rmarabini opened #1213 "facilities-devel: generate html report in background"
monitor summary -> html report

If you press the button "HTML report" and you have (as is my case) 1000 processed movies the protocol will process the 1000 movies BEFORE returning scipion control. This action takes a very looooooong time (enough to write 4 new issues, check the mail and do many other things). After clicking "html report" you should get Scipion control back and if creating the file

[2017-09-20 08:25] rmarabini opened #1214 "facilities-devel: Export html report to web-server doesn't work"
exporting  html reportto a external web server  does not seem to work

[2017-09-20 08:27] delarosatrevin commented on #1212
Hi @rmarabini, some answers about that.

Currently, only the motioncor2 (or even motioncorr) can generate the micrograph thumbnail (using Eman2 command underneath). This option is not checked by default (I thought that we will have the release 1.1.1 sooner and didn't want to change the default behaviour), I have it in our wizard in Stockholm. Of course, this thumbnail generation could (should?) be

[2017-09-20 08:32] rmarabini opened #1215 "facilities-devel: improve gain protocol speed and viewer"
Gain protocol:

Suggestions:

1) Now gain protocol process all available movies. In a single CPU gain needs 100 minutes to process a movie (motioncor process 100 movies in this time) so it makes sense to process 1 of each 100 movies or even better the last movie available. Should we put default step to 100 instead of 1?

2) If gain is "viewed" though "monitor summary" you get a plot. If gain is "v

[2017-09-20 08:38] rmarabini commented on #1212
Not sure we are speaking about the same problem. I use to be able to see the movie/micrograoh in motioncor AND ctffind and now I cannot see it. I will bug Pablo with a face to face presentation

[2017-09-20 08:41] rmarabini commented on #1213
It just finish with an error ;-(

1 images, processing 0-0 stepping by 1
1 images
Exception in Tkinter callback
Traceback (most recent call last):
  File "/usr/local/scipion/software/lib/python2.7/lib-tk/Tkinter.py", line 1486, in __call__
    return self.func(*args)
  File "/usr/local/scipion/pyworkflow/em/viewer_monitor_summary.py", line 172, in _generateHTML
    reportPath = reportHtml.generate

[2017-09-20 08:42] rmarabini opened #1216 "A few comment about release-facilities-level (20-September) -V"
system summary does not work properlly when called from ssytem monitor. I guess I will assign this to myself :-(

[2017-09-20 14:21] #1167 closed

[2017-09-20 14:24] rmarabini opened #1218 "A few comment about release-facilities-level (20-september) -VI"
protocol ctf selection.
option use xmipp crtireria
criteria "CritCorr" should be general (fitQuality) and not restricted to xmipp.

I assign this to myself

[2017-09-20 14:27] delarosatrevin commented on #1218
Muself, another member of the crew?

[2017-09-20 15:02] rmarabini commented on #1218
you are a mean one  ;-)

[2017-09-20 15:05] delarosatrevin commented on #1218
There is a well-know saying: "If you drink, don't git."

[2017-09-21 12:59] delarosatrevin opened #1219 "Some conversions from CTF are failing, after changes in #1201"
Some of the following test are failing:

./scipion test tests.em.protocols.test_protocols_xmipp_mics.TestXmippExtractParticles
./scipion test --grep ctf --skip program stream monitor --run

[2017-09-22 05:54] cossorzano opened #1220 "Micrograph contrast inversion+downsampling"
It annotates the SetOfMicrographs with the incorrect size

[2017-09-22 05:55] cossorzano opened #1221 "Mark worse image after automatic picking"

[2017-09-22 08:52] pconesa commented on #1221
Can you elaborate this more, please? @cossorzano

[2017-09-22 13:47] pconesa commented on #1164
@azazellochg ....if you have some time,....could you please test and feedback. Be aware that the threshold was mainly something visual. Now it has some use for the training and for filtering particles. @delarosatrevin is it ok for you to review the PR -- #1222 ?. I think you are the only Java guy around. right?

[2017-09-22 14:32] majtner commented on #1215
@rmarabini Thank you for suggestions.

Ad 1: We will look at default values and yes, we can certainly change it

Ad 2: Here I want to point out that there is also a "movie gain monitor", which is producing this required plot. If we add the plot to "movie gain" protocol, this "movie gain monitor" protocol would be redundant (the same holds true for CTF monitor, therefore it is probably more general

[2017-09-22 16:24] pconesa commented on #1221
Make the worse automatic picked image when loading a new micrograph in the picking

[2017-09-25 10:18] azazellochg opened #1226 "Hidden GUI options are considered when they should not"
I think this is a global issue. For example, any relion protocol when run in continue mode have hidden/disabled CTF etc options, however if the values were set for these parameters they are still considered. For instance, if you click "Do CTF grouping", then switch to continue mode (where such CTF option is unavailable) it still does ctf grouping!
Same is true for any parameters/protocols - if the

[2017-09-25 12:55] azazellochg opened #1227 "relion movie refinement fails"
Reported by Dmitry Semchonok:
1.1-facilities-devel branch. Movie refinement seems to use wrong inputs (original extracted particles, not the output) and hence, fails at the first metadata conversion step
![image_from_skype](https://user-images.githubusercontent.com/6952870/30809390-7905fbb0-a1f9-11e7-8ae4-9bfe76d45362.png)

[2017-09-25 13:59] azazellochg commented on #1227
This looks more serious than I sought. When running refine/classif. in continue mode, the inputParticles are set to `self.continueRun.get().inputParticles.get()`, however they are not further used by Relion since `--continue` parameter refers to the optimiser file that points to the data file of previous run.
ConvertInputStep is not useful here, in continue mode, because `input_particles.star` is

[2017-09-25 15:04] delarosatrevin commented on #1226
Hi @azazellochg, I will take a look at it...I'm in a hurry now, but I will comment more later.
Cheers.

[2017-09-25 22:38] azazellochg commented on #515
Since this protocol doesn't exist anymore,  I close this issue

[2017-09-25 22:38] #515 closed

[2017-09-26 11:22] azazellochg opened #1229 "update wiki page for cuda"
https://github.com/I2PC/scipion/wiki/Scipion-Configuration
I'm not sure if it is up to date. Is linkerflags still used? Only for compilation? What about NVCC* variables? Also CUDA_LIB, CUDA_BIN should be set up for, e.g. Relion.

[2017-09-29 09:48] yaizar commented on #1214
Hi @rmarabini, which command are you using to export it? can you confirm your command works in your terminal? I've tried rsyncing my report and it worked OK

[2017-10-02 06:33] delarosatrevin opened #1233 "Java exception when changing the boxsize in the Picking GUI"
@pconesa I think after you changes in the picking there is an Exception when changing the box size.

java -Xmx2g -d64 -Djava.library.path=/home/josem/work/development/scipion/software/em/xmipp/lib -Dplugins.dir=/home/josem/work/development/scipion/software/em/xmipp/external/imagej/plugins -cp /usr/lib/jvm/java-8-openjdk-amd64/lib/*:/home/josem/work/development/scipion/software/em/xmipp/external/im

[2017-10-02 09:30] delarosatrevin opened #1235 "Exception when boxes of a project are colored by time"
Can't calculate box color:must be string, not None
Can't calculate box color:must be string, not None
Can't calculate box color:must be string, not None
Can't calculate box color:must be string, not None

[2017-10-02 09:45] pconesa commented on #1233
Always?, Did you have an ongoing training? Nevertheless I'll have a look. Thanks.

[2017-10-02 09:53] pconesa commented on #1233
Not able to reproduce it...any specific sequence. I guess you where picking in tmp....after analyze result?

[2017-10-02 10:03] pconesa commented on #1235
thanks @delarosatrevin , Is there a exception......or just ugly, log lines.

[2017-10-02 10:12] rmarabini opened #1236 "wish list made by B13 people-I"
Add to import_moviews  a DATE option. That is, import only files created after this date.
Possible options:
   default -> import all
   now     -> everything after now
   HH-MM, DD-MM-YY -> import files created after this date

I think @josuegbl is willing to implement this

[2017-10-02 10:16] rmarabini opened #1237 "wish list made by B13 people-II"
modify scipionbox_wizard.py so that new file directory structure created by FAlcon III detector is taken into account. This goes to @rmarabini

[2017-10-02 10:37] delarosatrevin commented on #1235
Not sure.

[2017-10-02 10:48] delarosatrevin commented on #1236
Just make sure that the default behavior is the same as before...and of course, the changes does not break the protocol.

[2017-10-02 10:49] rmarabini opened #1238 "wish list made by B13 people-III"
backup is not working (scipion-facilities). Very likely this is related with #1237. I (@rmarabini) will fix it

[2017-10-02 10:51] rmarabini opened #1239 "Motioncor2 shifts plot (wish list made by B13 people-IV)"
What is the meaning of the motioncor2 shift plots (since it can not be shifts). I will (@rmarabini) look into it.

[2017-10-02 10:53] delarosatrevin commented on #1239
@azazellochg, can you comment on this? My understanding is that the plot are the average shift in a frame in x and y...

[2017-10-02 11:07] azazellochg commented on #1239
@delarosatrevin yes, you are right. Those are cumulative per-frames shifts in pixels, first frame shift is always set to 0,0

[2017-10-02 20:26] rmarabini commented on #1239
Hi @delarosatrevin  and @azazellochg,

 I have plots in which the difference between last and first frames is 600 pixels. If you look to the original movie versus the corrected one you can see a small improvement but there is no way the difference between first and last image is 600 px. Furthermore, if you open the log files the shifts are around 1 pixel beetwen frames. There is something fishy he

[2017-10-02 22:09] azazellochg commented on #1239
Hi @rmarabini, could you attach the log file here? I can have a look

[2017-10-03 06:14] #1164 closed

[2017-10-03 06:15] #1135 closed

[2017-10-03 06:15] #1075 closed

[2017-10-03 06:23] #1221 closed

[2017-10-03 06:25] pconesa commented on #1235
I mean, you've titled this issue with "Exception".......is there an exception?

[2017-10-03 06:39] delarosatrevin commented on #1235
Yes...maybe a more appropriate title would be: Error message when...

On Oct 3, 2017 8:25 AM, "Pablo Conesa" <notifications@github.com> wrote:

[2017-10-03 06:41] pconesa commented on #1220
ummm, behaves correctly here....
[Uploading Screenshot from 2017-10-03 08-39-59.png...]

[2017-10-03 06:42] pconesa commented on #1220
Was it in streaming?

[2017-10-03 08:00] pconesa commented on #1220
Tomas, kindly agreed to have a look at it, since it seems to be something in devel, maybe related with latest "streamification" of the protocol.

[2017-10-03 08:35] pconesa commented on #1235
@delarosatrevin could you just send me the project.sqlite?

[2017-10-03 09:18] majtner commented on #1220
I have tested it in streaming and also without streaming in devel and in both cases I see correct size:
1024x1024, 4.00 Å/px  ->  512x512, 8.00 Å/px
Could you, please, specify the problem a bit more?

[2017-10-03 09:23] yaizar commented on #1214
Spoke to @rmarabini and it seems this issue doesn't belong to facilities branch, closing it.

[2017-10-03 09:23] #1214 closed

[2017-10-03 09:25] yaizar commented on #216
@cossorzano can you elaborate? Is this something like what we did for the html report? Are we good with that one?

[2017-10-04 09:19] rmarabini commented on #1239
@azazellochg <https://github.com/azazellochg>, give me a few days to
analyze the problem properly and I will send you the log files and the
plots.

  roberto

On Tue, Oct 3, 2017 at 12:09 AM, Gregory Sharov <notifications@github.com>
wrote:

[2017-10-05 06:52] pconesa commented on #829
@ldelcano , you've updated the tutorials, didn't you?

[2017-10-05 07:30] pconesa commented on #1115
Hi, @azazellochg , I'm looking at this. I've added a xmipp volume filter protocol after the last protocol in TestRelionClassify3D and don't see it wrong....any idea how to reproduce this behavior?
![Screenshot from 2017-10-05 09-29-50.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5695f1039397ed1300826771/125516c66e82c728ace21e0d46db978826878dba87e6ab03a24fff99691477227e4

[2017-10-05 07:30] pconesa commented on #1115
Wait...this is a different wizard,right?

[2017-10-05 08:14] azazellochg commented on #1115
Hi @pconesa ! I have just checked this a bit more thoroughly:
branch release-1.1.facilities-devel
Looks like this bug is present only when using wizard of XmippProtFilterVolumes and relion auto-refine 3d output volume (output from other relion protocols or subsets/imported volumes are ok).

[2017-10-05 08:16] #832 closed

[2017-10-05 08:17] ldelcano commented on #829
I though so but I have checked and only the betagal tutorial was updated, not yet the introduction and initial volume (although I am not sure if the latest has changed at all).

[2017-10-05 15:31] JuhaHuiskonen opened #1243 "relion protocols always use oversampling 1"
Relion refine and classification protocols have '--oversampling 1' hard coded. Even if '--oversampling 0' is given from the command line, it is not effective.  It might be useful to construct the command line so that additional parameters come first - or add oversampling in the GUI as an advanced option the user could choose.

[2017-10-09 10:03] ldelcano commented on #829
I checked on sharelatex and they were all updated in June so I copied new pdfs to wiki.

[2017-10-09 10:15] ghost opened #1246 "Dark and Gain reference images are not propagated in movies subset"
If we import a set of movies and a gain/dark images is set, it is not preserved after make a subset.

[2017-10-10 02:22] stetner opened #1247 "Error on test: scipion tests em.workflows.test_workflow_xmipp"
Hi,

I have an error on the above test.  Maybe a needed package missing?

Output (test_output.txt) and logs attached.

~/ScipionUserData/projects/TestXmippWorkflow/Runs/000269_XmippProtExtractParticles/logs/run.stdout
~/ScipionUserData/projects/TestXmippWorkflow/Runs/000269_XmippProtExtractParticles/logs/run.log

I am not sure exactly why it is failing though (I am a sysadmin not a researcher).

I

[2017-10-10 05:38] pconesa commented on #1247
Hi, @stetner , did you forget to attach the files? Those you mention seems to be useful. And the output of the console might tell us something too.

for the scipion tests em.workflows.test_workflow_xmipp it's a pure Xmipp/Scipion workflow. No other em package should be needed. I know there are some dependencies for python libraries for some xmipp protocols, not sure if this is the case. But the lo

[2017-10-10 07:26] stetner commented on #1247
Yes I did.  here they are - sorry about that.
[run.log](https://github.com/I2PC/scipion/files/1370920/run.log)
[test_output.txt](https://github.com/I2PC/scipion/files/1370921/test_output.txt)
[run.stdout.txt](https://github.com/I2PC/scipion/files/1370924/run.stdout.txt)

[2017-10-10 09:29] delarosatrevin commented on #820
Now we have picking in streaming! in branch release-1.1.facilities-stream-picking, that soon will be merged into release-1.1.facilities-devel (which will be the next release)

[2017-10-10 09:29] #820 closed

[2017-10-10 09:45] pconesa commented on #1247
Thanks, @stetner . A first glance doesn't help much. It's failing at a third xmipp_downsample call.
Not sure what is the -7 exit code.

Could you please try this:

`cd ~/ScipionUserData/projects/TestXmippWorkflow`
`scipion xmipp_transform_downsample -i Runs/000002_ProtImportMicrographs/extra/BPV_1388.mrc -o Runs/000266_XmippProtExtractParticles/tmp/BPV_1388_downsampled_manual.xmp --step 8.000000 -

[2017-10-10 10:59] #1243 closed

[2017-10-10 11:00] #1206 closed

[2017-10-10 13:05] #1115 closed

[2017-10-11 08:37] #1227 closed

[2017-10-13 00:29] stetner commented on #1247
Sorry, I have been off sick.

I did a rerun and it failed similarly.  The command itself seems to run fine.  It appears to me that the test may be running these commands simultaneously???  Could that be the trigger?

Doug

Protocol failed: Command 'xmipp_transform_downsample -i Runs/000002_ProtImportMicrographs/extra/BPV_1388.mrc -o Runs/000269_XmippProtExtractParticles/tmp/BPV_1388_downsampled.xm

[2017-10-13 01:59] stetner commented on #1247
OK, seems to be a simultanious run issue:

$ cat z
scipion xmipp_transform_downsample -i Runs/000002_ProtImportMicrographs/extra/BPV_1386.mrc -o Runs/000269_XmippProtExtractParticles/tmp/BPV_1386_downsampled.xmp --step 8.000000 --method fourier &
scipion xmipp_transform_downsample -i Runs/000002_ProtImportMicrographs/extra/BPV_1387.mrc -o Runs/000269_XmippProtExtractParticles/tmp/BPV_1387_downsamp

[2017-10-13 02:03] stetner commented on #1247
Run sequentially no problem.  Machine is an 18 core hyperthreaded machine with 128GB memory and I have exclusive use of it.

$ cat z
scipion xmipp_transform_downsample -i Runs/000002_ProtImportMicrographs/extra/BPV_1386.mrc -o Runs/000269_XmippProtExtractParticles/tmp/BPV_1386_downsampled.xmp --step 8.000000 --method fourier
scipion xmipp_transform_downsample -i Runs/000002_ProtImportMicrographs/e

[2017-10-13 05:38] pconesa opened #1252 "Deal with dm4"
There is a quick hack to use dm4 at import but the additional problem is that xmipp viewer does not open dm4 files.

[2017-10-13 05:54] pconesa commented on #1247
This is interesting @stetner. Thaks for your time and detailed explanation.  I'll involve Xmipp developers to see if they can find an explanation. Here test works and I don't see why 3 "very" independent processes like those, not sharing any file are failing when run simultaneously.
@cossorzano or @rmarabini , any idea why this could be happening?

[2017-10-13 06:42] pconesa commented on #1125
I've added Gautomatch one. The Gctf ones were already there, at least with the same name. Any reason to think are different?

[2017-10-13 06:44] pconesa commented on #1233
@delarosatrevin , have you seen this again?

[2017-10-13 08:28] #1213 closed

[2017-10-13 08:55] azazellochg commented on #1252
same as #493?

[2017-10-13 08:59] delarosatrevin commented on #1252
You are right @azazellochg.

[2017-10-13 08:59] #1252 closed

[2017-10-13 09:48] delarosatrevin opened #1253 "xmipp3 - Correlation movie alignment fails when using many MPI"
I have observed this protocol fail when using many MPI (last time 24 mpi). It seems to be related to Matplotlib figures opened, presumably related to the shifts plots (see the error below). The same error has happened a few times in different clusters.

/afs/pdc.kth.se/pdc/vol/cryoem/vol/scipion/1.2rc/software/lib/python2.7/site-packages/matplotlib-1.3.1-py2.7-linux-x86_64.egg/matplotlib/pyplot.py

[2017-10-13 10:21] azazellochg commented on #1125
@pconesa you are right, we already have them. Closed.

[2017-10-13 10:21] #1125 closed

[2017-10-13 10:26] azazellochg commented on #889
@pconesa could you have a look? it's in SupervisedParticlePicker.java

[2017-10-13 10:51] delarosatrevin commented on #889
This same error was reported by another user as well.

[2017-10-13 13:43] josuegbl commented on #1219
It seems these tests not fails in release-1.1.facilities-stream-picking branch.

[2017-10-13 13:51] josuegbl commented on #172
it seems this bug is fixed by @azazellochg

[2017-10-13 13:51] #172 closed

[2017-10-13 13:56] josuegbl commented on #469
scipion test tests.em.protocols.test_protocols_relion.TestRelionPostprocess

[2017-10-13 13:56] #469 closed

[2017-10-13 14:07] josuegbl commented on #1091
@pconesa and @JuhaHuiskonen can I close this issue?

[2017-10-13 20:55] azazellochg opened #1254 "reconstruct_fourier_accel does not compile with gcc7"
After https://github.com/I2PC/scipion/commit/0884d0989f9804ef50bcb1515d6230439382880b commit, I have the following error during compilation:
[code]

[2017-10-14 01:08] DStrelak commented on #1254
Hello Gregory,

I apologize for the problem.
To be honest, I did not check what the problem is. However, there are more commits in the branch that follow this one. It might be that I did not
push a  commit that is 100% working (which is not good practice, I know).
Please refer to a
e716ac283b0619d2ca1948779a3b0799150d8913 (last commit on the branch) or to current 'devel' branch, as all
changes hav

[2017-10-14 10:21] azazellochg commented on #1254
Hello David,
no worries, I expect devel to be unstable sometimes :)  I have tried to checkout both commits and compile without success. It's always same error.

[2017-10-14 16:07] pconesa commented on #889
Anyone Hasan idea how to reproduce this?

El vie., 13 oct. 2017 12:51 p. m., Jose Miguel de la Rosa Trevin <
notifications@github.com> escribió:

[2017-10-14 19:59] rmarabini opened #1255 "html report - rsync processes stay alive when protocol not running"
Each time html report (analyze) is pressed in monitor summary, an rsync process is launched that is never killed. Therefore, after a while many bogus rsync are been executed.  Very likely rsync should be started by the protocol and not by analyzed. rsync should be killed when the protocol is stopped.

[2017-10-16 02:32] stetner commented on #1247
One thing of note is that my home directory and the software install directory are on a lustre filesystem with no file locking.

I have symlinked both ~/ScipionUserData and scipion/data/tests to an xfs writeable lockable filesystem.

Doug

[2017-10-16 07:31] DStrelak commented on #1254
Hello again,

I am not able to reproduce it with GCC 5.4.1. I have run into some issues while trying to update to GCC 7, which would take quite some time to overcome.
Can you please try to replace those lines with more explicit form:
(result->operator ()(j, myPadI)).real() = paddedFourierTmp.real();
(result->operator ()(j, myPadI)).imag() =	paddedFourierTmp.imag();

[2017-10-16 09:49] pconesa commented on #1255
Are you sure is the analyze results.....or is is just restarting the protocol when it is "running ( a thing that should not be allowed? and is already happening.

[2017-10-16 14:30] pconesa commented on #1255
I confirm that this is about executing a protocol (at least the summary) when it is running.

[2017-10-17 10:38] yaizar opened #1259 "Can't copy monitor protocols"
When selecting a few protocols with a monitor among them to copy them, we get an error saying:
`List.set: value should be a list.`
Then the gui doesn't work as expected (can't unselect boxes) and when we hit refresh we get the copies we wanted but attached to the wrong boxes:
![image](https://user-images.githubusercontent.com/4609687/31660506-ea0c6840-b337-11e7-864b-5d69c2a8676b.png)

[2017-10-18 15:44] cossorzano commented on #1247
Dear Doug, I have run the test in the branch release-1.1 and it runs OK. Could you suggest some way to try to reproduce it? Cheers

[2017-10-19 17:42] azazellochg commented on #868
Hi all, I have got one binary where this bug is supposed to be fixed:
[gEMpicker_cuda_55.tar.gz](https://github.com/I2PC/scipion/files/1399434/gEMpicker_cuda_55.tar.gz)
@cossorzano you might want to check if it works for you.

[2017-10-19 20:14] azazellochg commented on #1254
@DStrelak , still the same error :(
[code]

[2017-10-20 06:39] DStrelak commented on #1254
That is unfortunate.
In that case, can you please provide me with full log + you system specification (OS, compiler, scipion config file etc.)?
You can either attach it here or upload to https://drive.google.com/drive/folders/0B49nMjU0LV5iSlM1eDFCVjRtZTQ?usp=sharing
I will then try to reproduce it at my system. If that fails, would it be possible to create an account for me at your system?

[2017-10-20 22:31] azazellochg commented on #1254
**OS:** Linux xps13-9350 4.12.4-1-ARCH #1 SMP PREEMPT Fri Jul 28 18:54:18 UTC 2017 x86_64 GNU/Linux
**Config file:**
[code]
**Verbose output from compiler:**
[code]
Please do ask if you need anything else.

[2017-10-21 16:45] azazellochg opened #1266 "picking in streaming questions"
I am testing release-1.1-facilities-devel branch after PR #1249, so I'll put here my questions:
1. Xmipp manual picking step1 protocol now does not support restart? Save and Execute buttons are not active. So, the suggested way is to Analyze results and correct picking? What if I want to reset picking for all micrographs? Just copy the protocol?

[2017-10-21 17:30] delarosatrevin commented on #1266
@azazellochg I think this has been changed by @pconesa where the Excute button is disabled when is not allowed. @pconesa, can you confirm that? Have you taken into account the 'Interactive' state? (which I think is not active, not sure). Indeed the Xmipp manual picking has not been modified in the streaming branch.

[2017-10-21 20:25] azazellochg opened #1267 "SetOfParticles hasCTF is False after "scipion - ctf assign""
SetOfParticles hasCTF() returns false if this particle set comes from assign ctf protocol. Can someone else reproduce this or it is my issue only (since my branch is somewhere between 1.1 and devel)?

For example:
1. Extract particles with no CTF
2. Assign CTF
3. Use any protocol that requires particles with CTF, i.e., xmipp projection matching - validation test will fail saying no CTF found.

[2017-10-22 19:16] pconesa commented on #1266
Sorry, I didn't consider this case. I used .isActive, which includes
interactive, should I exclude this status: if .isActive and not interactive
l--} disable? . Can anyone think in any other case?

El sáb., 21 oct. 2017 7:30 p. m., Jose Miguel de la Rosa Trevin <
notifications@github.com> escribió:

[2017-10-22 21:34] rmarabini opened #1268 "html report: CTF plot has wrong mic index"
micrograph number in CTF plot and micrograph gallery are not the same for a given micrograph (they are shifted by one)

[2017-10-22 21:35] rmarabini opened #1269 "html report stops sending updates after a few hours"
html report stops sending updates after a few hours (no error messages reported)

[2017-10-23 00:16] stetner commented on #1247
OK, double checked and I think the reason was that my /tmp was only 2Gb.  I moved my ScipionUserData directory to /scratch and all seems good.  I was thinking locking was the issue, but it was also size I guess.

$ df -h /tmp/     /scratch/
Filesystem      Size  Used Avail Use% Mounted on
tmpfs           2.0G     0  2.0G   0% /ram/tmp
/dev/sdb2       1.1T  692M  1.1T   1% /scratch

Error was a bit

[2017-10-23 00:16] #1247 closed

[2017-10-23 08:05] DStrelak commented on #1254
Hello,
talking about gcc... it seems that I (and other people who tried it) have header files that are not according  to standard.
Please try to replace the problematic lines with:
(*result)(j, myPadI) = std::complex<float>(paddedFourierTmp.real(), paddedFourierTmp.imag());

Apparently, my header files defines imag() and real() as
T& real();
but standard as
T real() const;
which would explain the

[2017-10-24 12:59] yaizar commented on #1268
Which is the wrong one?

[2017-10-24 13:02] yaizar commented on #1269
Is this possibly related to #1255? Are the updates not happening only on the remote server or both remotely and locally?

[2017-10-24 13:09] yaizar opened #1270 "Add "export workflow with source data" option"
Extend current importing/exporting options to include the source data in import protocols.

[2017-10-24 13:53] azazellochg opened #1271 "Set view list to SPA by default"
For all new projects HEMNMA is the first list that pops up. I understand that the list (except All) was sorted alphabetically and this is the first one now :) I suggest revert it back to Protocols SPA that goes first, since these protocols are the main ones.

[2017-10-24 20:33] rmarabini commented on #1268
Hi @yaizar,

   The first element should be 1 (not zero) therefore the gallery is right and the plot is wrong.

[2017-10-25 09:10] rsanchezgarc opened #1272 "Collapse subgraphs in GUI graph visualization"
Generally, projects have dozens of boxes, but I spend most of my time with a couple of them. I would like to be able to collapse subgraphs. Currently, it is possible to collapse all boxes that follow a given one, but it is not possible to collapse, for instance, just the boxes related with micrograph imports.

[2017-10-25 14:46] pconesa commented on #1271
@azazellochg , I've seen this before and think it was fixed but for some time, the code was sorting the protocols.conf. It should not this anymore.

Cloud you try to remove/remane protocols .conf
Run scipion config
and see if still HEMNMA is the first?

[2017-10-25 14:52] pconesa commented on #1255
This is due to a bad use of scipion, but allowed. It is prevented since: https://github.com/I2PC/scipion/commit/a13b1034bf04143d928a70ff73dad2a892af7493

[2017-10-25 14:52] #1255 closed

[2017-10-25 14:53] pconesa commented on #1269
don't think it is related.

[2017-10-26 08:28] azazellochg commented on #1254
Hi,
ok, I have replaced this, got an error:
[code]
I have replaced the line with ```(*result)(j, myPadI) = std::complex<double>(paddedFourierTmp.real(), paddedFourierTmp.imag());``` and then it worked. Is this a correct solution? (I have no knowledge of c++)

[2017-10-26 08:48] DStrelak commented on #1254
Hi,
it's really funny how 'forgiving' are some compilers. Never mind, you fixed it almost correctly (should be std::complex<float>, but I guess compiler would take care of it).
I will create a patch. Can I set you as a reviewer (reviewer is expected to check that the change is correct and problem is fixed)?

[2017-10-26 08:50] azazellochg commented on #1254
@DStrelak sure!

[2017-10-26 08:55] azazellochg commented on #1271
@pconesa indeed, you are right.

[2017-10-26 08:55] #1271 closed

[2017-10-27 06:58] #1254 closed

[2017-10-27 18:14] azazellochg commented on #1266
@pconesa @delarosatrevin
Another thing. I have just merged this into my eman22-dev, and now extract particle pairs is broken:
[code]

[2017-10-28 12:35] pconesa commented on #1266
Thanks Gregory, we'll have a look.

El vie., 27 oct. 2017 8:14 p. m., Gregory Sharov <notifications@github.com>
escribió:

[2017-10-29 16:45] JuhaHuiskonen opened #1276 "Protocol 'Relion - 3D auto-refine' with 'Second reference mask' crashes"
Protocol 'Relion - 3D auto-refine' with 'Second reference mask' crashes with error:

00035:     File "/gpfs0/users/strubi/juha/apps/scipion-1.1.facilities-devel/pyworkflow/em/packages/relion/protocol_base.py", line 1028, in _setMaskArgs
00036:       solventMask = convertMask(self.solventMask, self._getTmpPath())
00037:     File "/gpfs0/users/strubi/juha/apps/scipion-1.1.facilities-devel/pyworkflow

[2017-10-30 10:10] pconesa opened #1277 "scipion test tests.em.workflows.test_workflow_xmipp"
Fails on buildbot
facilities branch

[2017-10-30 10:11] pconesa opened #1278 "scipion test tests.em.workflows.test_workflow_xmipp_rct"
Fails on buildbot
facilities branch.

[2017-10-30 10:14] pconesa opened #1279 "scipion test tests.em.workflows.test_workflow_relion.TestWorkflowRelionPick"
Fail on buildbot
facilities branch

[2017-10-30 10:15] delarosatrevin commented on #1277
@pconesa I working on this right now, I think we need to be more careful when merging PR. Maybe this test was broken after the streaming merge. If buildbot if not agile, we need to define another way to launch some test and catch these errors quickly.

[2017-10-30 10:15] pconesa opened #1280 "scipion test tests.em.data.test_convert_xmipp"
Fails on buildbot
facilities branch

[2017-10-30 10:19] pconesa commented on #1277
Thanks, @delarosatrevin , we just need to pay more attention to buildbot, and hopefully, try to implement the PR feature in buildbot.

[2017-10-30 10:20] delarosatrevin commented on #1280
I fixed this one in check_spider_installed_before_wizard branch.

[2017-10-30 10:21] pconesa opened #1281 "scipion test tests.em.data.test_convert_xmipp.TestSetConvert"
Fails on buildbot
facilities branch

[2017-10-30 10:22] pconesa commented on #1280
great! great.

[2017-10-30 10:26] pconesa opened #1282 "tests.em.protocols.test_protocols_xmipp_movies.TestExtractMovieParticles"
Fails in buildbot
facilities branch

[2017-10-30 10:27] pconesa opened #1283 "tests.em.protocols.test_protocols_relion.TestRelionInitialModel"
Fail on buildbot
facilities branch.

[2017-10-30 10:28] pconesa opened #1284 "tests.em.protocols.test_protocol_multireference_alignability.TestMultireferenceAlignability"
Fail on buildbot
facilities branch

[2017-10-30 10:30] pconesa opened #1285 "tests.em.protocols.test_notifier.TestNotifier"
fails on buildbot
facilities branch

[2017-10-30 10:32] pconesa opened #1286 "Resume protocols in streaming"
If a protocol fails or stops, allow the "continue"/resume to open the sets and continue the streaming.

[2017-10-30 10:39] pconesa opened #1287 "Compile dev meeting minutes"
and circulate.

[2017-10-30 10:44] delarosatrevin commented on #1286
This should be possible right now. Can you point to a specific case where it is not happening?

[2017-10-30 10:58] delarosatrevin commented on #1281
Fixed in 355404e

[2017-10-30 10:58] #1281 closed

[2017-10-30 10:59] delarosatrevin commented on #1280
Fixed in e1698ad

[2017-10-30 10:59] #1280 closed

[2017-10-30 11:23] pconesa opened #1288 "Publish road map"

[2017-10-30 11:46] pconesa commented on #1286
I mean when it is finished.

[2017-10-30 13:23] azazellochg commented on #1283
It requires relion 2.1, otherwise it fails

[2017-10-30 13:25] azazellochg commented on #1277
This is because extract tilt pairs is not working,  I think

[2017-10-30 15:59] 1aviervargas commented on #1284
I am going to take a look, thanks pablo

[2017-10-30 16:42] 1aviervargas commented on #1284
I have taken a look to the issue and I do not get any error from this test. I am using branch  release-1.1.facilities-devel

![screenshot_20171030_173944](https://user-images.githubusercontent.com/12271201/32183468-a9bc3056-bd99-11e7-9e0d-35932b304bec.png)

[2017-10-30 17:07] pconesa commented on #1284
Hi, @1aviervargas thanks for having a look...I'll check what is wrong with it in buildbot, and come back.

[2017-10-30 17:35] pconesa commented on #1285
This is due to the fact that buildbot slave is blacklisted on the server and therefore the assertion about the content in the server fails.

Not sure what to do...hmmm.

[2017-10-31 06:50] pconesa opened #1291 "Update motioncorr 2"
Dear Colleagues:

MotionCor2_1.0.1 has been released on our web site. You can download via the following link.

http://msg.ucsf.edu/em/software/index.html

This version has significantly improved the computational efficiency. Under the same setup, the computational time can be reduced by 50% as opposed to the older versions. This version also added two functions, one for dark subtraction and the o

[2017-10-31 07:41] pconesa opened #1292 "How to skip some movies at import time"
In some cases, there are movies used to explore the acquisition but you don't want them to be used at processing time.

Usually are already there when starting the import, so a way to skip the existing ones...or a way yo not import them would be nice.

[2017-10-31 07:58] pconesa opened #1293 "Document how to develop viewers"
Use this wiki page
https://github.com/I2PC/scipion/wiki/HowToDevelopViewer

[2017-10-31 08:34] delarosatrevin commented on #1291
@pconesa I will try this, since I'm already working in using multiple gpus for this program.

[2017-10-31 09:31] pconesa commented on #1291
Excellent! thank you. All yours! ;-)

[2017-10-31 09:36] delarosatrevin opened #1294 "Use multiple GPUs in MotionCor2"
We should allow to use multiple GPU cards

[2017-10-31 10:07] azazellochg commented on #1294
@delarosatrevin great! just to re-iterate what is known: many people reported that running one movie per GPU card is much faster than 1 movie per multiple cards. So we need to split the list of movies into N available cards. It would be even more awesome to implement this in streaming as well. Another thing @delarosatrevin you could test is whether giving a dir with N movies to motioncor2 works fa

[2017-10-31 10:34] pconesa opened #1296 "Batch processing for some protocols"
process in batches when not in streaming (gCTF, gAutomatch, motioncor2) will speed things up.

[2017-10-31 10:37] pconesa opened #1297 "GUI: new protocol box visible"
Add the new protocol to a visible location.
Now it is added based on our layout algorithm and in large projects, it is hard to locate.

[2017-10-31 10:49] delarosatrevin commented on #1297
I will say that we should keep adding base on the layout algorithm, but then maybe moving the viewing region in the canvas to this place.

[2017-10-31 10:51] pconesa opened #1298 "Try make shorter protocols name when copying"
- [x] You easily end up with (copy) (copy) (copy) ...
What about?:
(copy)
(copy2)
...

- [x] When adding a new one, it "inherits" the name of the previous protocol used. Use the default name.
<Deault name> (2)

[2017-10-31 11:08] pconesa opened #1299 "Multiple versions of the same software, different Openmpi (EMAN, Imagic, Spider)"
Allow different MPI versions, something similar to CUDA and MOTIONCORR2_CUDA...

[2017-10-31 12:17] pconesa opened #1300 "Do not refresh html report automatically"
Do not refresh automatically, it becomes annoying when exploring the mic/ctf table

[2017-10-31 13:08] 1aviervargas commented on #1297
Maybe a good way to do this is going to the list scheme (still exists a
list scheme as it was in xmipp3?) select the last protocols, go again to
the "box scheme" and show them in bold or with a different colour...

On 31 October 2017 at 06:49, Jose Miguel de la Rosa Trevin <
notifications@github.com> wrote:

[2017-10-31 13:36] #1131 closed

[2017-10-31 13:50] pconesa commented on #1233
@delarosatrevin , anyway I can reproduce this?

[2017-10-31 14:22] pconesa opened #1301 "Add a centralized logging mechanism"
To replace prints by built in logging python library.
See: https://docs.python.org/2/howto/logging.html

[2017-10-31 14:28] #1285 closed

[2017-10-31 14:59] delarosatrevin commented on #1301
@pconesa We have some logging in place, but not widely used.

[2017-10-31 16:05] delarosatrevin commented on #1294
Thanks @azazellochg.
I have observed the same, that using multiple motioncor2 in individual cards is faster. Even sometimes allocating more than one process per card...but now in the manual there is a big RED alert against that.

I have done some test about the one after one vs the batch mode and I didn't saw much gain (less important in streaming) but I think there is a speed-up. We need to consi

[2017-11-01 06:50] JuhaHuiskonen opened #1303 "protocol 'xmipp3 - break symmetry' fails"
Running with a subset of 500 random particles that have been aligned. Protocol fails with the error:

00001:   RUNNING PROTOCOL -----------------
00002:             PID: 8829
00003:         Scipion:  release-1.1.facilities-relion-fixes (2017-10-10) 0b5b9a5
00004:      currentDir: /gpfs2/well/strubi/juha/ScipionUserData/projects/HSV1-genome
00005:      workingDir: Runs/002257_XmippProtAngBreakSymme

[2017-11-01 09:31] pconesa commented on #1301
But only for the protocols?

El mar., 31 oct. 2017 3:59 p. m., Jose Miguel de la Rosa Trevin <
notifications@github.com> escribió:

[2017-11-01 09:33] delarosatrevin commented on #1301
Also at the project level.

[2017-11-01 09:36] pconesa commented on #1303
Thanks Juha. This should be already fixed in release-1.1.facilities-devel.
Not sure if you still need to stay in your current branch.  Probably is
safe to switch to release-1.1.facilities-devel.

El mié., 1 nov. 2017 7:50 a. m., Juha Huiskonen <notifications@github.com>
escribió:

[2017-11-01 09:38] delarosatrevin commented on #1303
Yes, I think that changes in 'release-1.1.facilities-relion-fixes' are already merged into release-1.1.facilities-devel

[2017-11-01 10:14] #1291 closed

[2017-11-01 14:51] #985 closed

[2017-11-02 07:43] pconesa opened #1305 "attach other viewers to Scipion"
..at least for standard formats...or wrap them to be able to load scipion data (sqlite)

[2017-11-02 14:01] majtner opened #1306 "Extracting particles without CTF"
Protocol for extracting particles (XmippProtExtractParticles) could be run/executed without CTF information. As a result, protocol could finish and no output is created. Probably some warning or error message should be produced, when there is no output.

[2017-11-02 14:34] cossorzano opened #1307 "Option to center or not the template while picking"

[2017-11-03 10:43] yaizar opened #1308 "html report fixes"
- [x] Remove one defocus column from table and substitute it with resolution data
- [x] Substitute defocus chart by resolution histogram
- [x] Fix system monitor time axis and y axis label
- [x] Fix image modals on table latter pages

[2017-11-03 16:15] #1288 closed

[2017-11-03 16:37] pconesa opened #1309 "Prepare scipion streaming demo"

[2017-11-03 17:40] pconesa opened #1310 "Input size does not refresh while streaming."
The input sets do not show the actual set size.

[2017-11-06 10:51] #829 closed

[2017-11-06 10:52] #722 closed

[2017-11-06 10:52] #1235 closed

[2017-11-06 10:54] #997 closed

[2017-11-06 10:56] #1270 closed

[2017-11-06 11:02] pconesa opened #1312 "add warning and info for export with data"
wanring about space
info about scope: only movies data is exported so far.

[2017-11-06 11:14] pconesa opened #1313 "Export with data, export data in extra folder."
if they are links follow it and use the original file.

[2017-11-06 11:27] pconesa opened #1314 "deal with launched protocols and button disabled."

[2017-11-06 11:35] pconesa opened #1315 "test new import changes thorougly"
make a test for import from frames.

[2017-11-06 11:37] pconesa commented on #1076
@cossorzano , can we close this?

[2017-11-06 11:38] pconesa opened #1316 "add script for streaming demo"
a basic script to demo streaming

[2017-11-06 11:39] pconesa opened #1317 "document scipion in streaming use"
either a wiki page or a tutorial

[2017-11-06 11:44] pconesa opened #1318 "Demo/update scipion november"
and xmipp new features:

- [x]  email

- [ ]  prepare content

[2017-11-06 13:51] azazellochg commented on #1317
The following two pages exist (could be updated) and have no links from any point in the wiki so far :)
https://github.com/I2PC/scipion/wiki/Streaming-Processing
https://github.com/I2PC/scipion/wiki/Simulate-streaming-processing

[2017-11-06 16:50] pconesa commented on #1317
Thanks, will update them and link them from somewhere.

[2017-11-06 16:51] pconesa opened #1319 "Update motioncor2 1.0.1 ?"

[2017-11-07 15:39] pconesa opened #1320 "allow customized default values for protocols"
Allow defining default values for protocols.

[2017-11-08 10:44] ldelcano opened #1321 "missing file on binaries"
When installing scipion from binaries, if by mistake one tries to install without specifying --no-xmipp option, the compilation fails cause software/em/xmipp/external/image.tgz is missing (not only fails but scipion is unusable afterwards).
Add this file to binary that contains other sources.

[2017-11-08 10:56] delarosatrevin commented on #1321
What we should prevent is to NO USE --no-xmipp when using the binary. Or in a future, not have the xmipp installation by default as it is now.

[2017-11-08 11:26] ldelcano commented on #1321
We should give three distribution options: binaries (without source code at all), sources (with complete sources) and git.
When downloading binaries it should not try to install (this is solved now I believe).
When downloading sources they should be complete (now missing imagej.tgz)

[2017-11-08 12:12] delarosatrevin commented on #1321
Check this @ldelcano...I think the imagej.tgz it is there in the source code tar...but get scrambred by the wrong "build process" when not using --no-xmipp for installing other packages and trying to build the java part.

[2017-11-08 17:29] #1316 closed

[2017-11-08 18:20] azazellochg opened #1323 "add axes to ang distrib plot"
Now plotAngularDistribution function in EmPlotter class produces a plot with no axis labelled. I think it would be good to add "rot", "tilt" to see what is what. Something like on the screenshot:
![screenshot_20171108_181813](https://user-images.githubusercontent.com/6952870/32566905-721f1856-c4b1-11e7-8b18-0d4dc16cccd5.png)

[2017-11-10 10:51] pconesa opened #1324 "Create test for new unique name method"
Create a test with all cases for the new unique name method use to identify any file.

[2017-11-10 15:22] #1300 closed

[2017-11-10 15:22] #1308 closed

[2017-11-10 15:22] #1268 closed

[2017-11-10 17:52] pconesa commented on #1316
![image](https://user-images.githubusercontent.com/785633/32671584-4592a404-c648-11e7-8602-2a5b4bde3d48.png)

[2017-11-10 18:00] pconesa commented on #1316
![image](https://user-images.githubusercontent.com/785633/32671892-61e856fc-c649-11e7-88bf-a161e2f3e2d1.png)

[2017-11-10 18:20] #1317 closed

[2017-11-11 17:28] azazellochg opened #1326 "example html report issues"
Hi,
couple of weird things and my thoughts on [html report](http://scipion.cnb.csic.es/scipionbox/lastHTMLReport/). As I understand this is still work in progress. So let's progress it :)
1) ctf is determined wrong in almost all cases - I think a wrong range of defocuses is used
2) on pages 7,8,9 all thumbnails are missing:
![screenshot_20171111_170555](https://user-images.githubusercontent.com/69

[2017-11-13 10:38] pconesa opened #1327 "prepare Copenhagen workshop"

[2017-11-13 10:38] #1309 closed

[2017-11-13 10:39] delarosatrevin commented on #1327
@pconesa Would it be better to have this "related" issues in a different place? Not together with the other development issues? Maybe using the GitHub projects?

[2017-11-13 10:40] pconesa opened #1328 "fedcloud + gpu + noVNC"
make it work without guacamole.

[2017-11-13 10:47] pconesa opened #1329 "Solve consistency issue ..."
when using a classification that uses a set in streaming it uses a small set but later that set ends up with more particles.

This is probably a generic issue not only a classification one.

[2017-11-13 10:48] pconesa commented on #1286
Meet Roberto to find a solution.

[2017-11-13 10:58] pconesa opened #1330 "Export with data: in a thread"
Generate folder with movies in a separate thread.
And warn when ready...

[2017-11-13 11:22] pconesa commented on #1283
cancel this test in buildbot

[2017-11-13 11:51] pconesa commented on #1327
@delarosatrevin , github projects are based on issues as well. For our week plan this works ok.

[2017-11-13 12:03] delarosatrevin commented on #1327
@pconesa In Projects you can have Cards, that are not issues...for me it sometimes seems like some noise in the Scipion repository...and not all task are strickly related...but I can live with that. ;)

[2017-11-13 17:33] pconesa commented on #1327
thanks @delarosatrevin , I'll think about it. Sometimes is better to have all in one place, but I agree that it is noisy!. I don't have a perfect solution here.

[2017-11-13 18:30] pconesa opened #1332 "Improve demo and lastHTML report"
From #1326,
fix Demo issues: 1,2,3,7

[2017-11-13 18:35] pconesa opened #1333 "More HTML tweaks"
- [x] Try to adjust the table when it looks wrong (shifted)
- [x] resolution and defocus coverage plots in vertical?
- [x] Numeric values consistency: al values 0.2f format (resolution 6.02A, defocus 1.52um (please in microns, not Angstroms!!), ratio 1.25, astigmatism ..) for all tables/plots so it would be easy to comprehend
- [x] Shorter file names in thumbnails?

Extracted from #1326

[2017-11-13 18:37] pconesa opened #1334 "Avoid labels overlap in alignment plot."
It looks bad. From #1326

[2017-11-13 18:39] pconesa commented on #1326
@azazellochg thanks for the feedback...let me clarify some points.

1.- This is mainly my bad for choosing the wrong data set (jmbFalconMovies) that renders that result.
2.- Yep, that is right cause I have troubles when running the protocols, but the HTML report should be fine, only that run failed cause I did not have eman installed (which is used for the thumbnails).
3.- My bad, I think I enter

[2017-11-13 18:39] #1326 closed

[2017-11-13 18:49] pconesa commented on #1319
@delarosatrevin ,  shouldn't the default value in the config file point to:
1.0.2 --> %(EM_ROOT)s/motioncor2-1.0.2
and not %(EM_ROOT)s/motioncor2-1.0.0?

[2017-11-13 18:50] pconesa commented on #1319
or maybe, @josuegbl

[2017-11-14 09:10] pconesa commented on #1278
With the new streaming refactoring this has been broken:
00009:   Traceback (most recent call last):
00010:     File "/home/buildbot-slave/data/slave/release11-facilities_Workflows_Tests/build/pyworkflow/protocol/protocol.py", line 182, in run
00011:       self._run()
00012:     File "/home/buildbot-slave/data/slave/release11-facilities_Workflows_Tests/build/pyworkflow/protocol/protocol.py", line

[2017-11-14 09:46] pconesa opened #1335 "Refactor CTF discrepancy protocol"
- [ ] Streamify it
- [ ] Add a parameter (threshold) to discard CTF that differ too much. Create 2 sets with "good" ones and "bad" ones

[2017-11-14 09:47] josuegbl opened #1336 "add option center for xmipp create mask (2D & 3D)"
Now, we cannot create a mask no centered using scipion's protocol (from Geometry).

[2017-11-14 09:56] pconesa commented on #1333
- [ ] gpu memory series are in MB not %
- [ ] Clarify temparature units: ºC.

[2017-11-14 13:15] yaizar commented on #1269
Closing as it seems we don't have this issue anymore

[2017-11-14 13:15] #1269 closed

[2017-11-14 14:02] pconesa opened #1338 "export of workflow without output is wrong"
The json file generated from a workflow, that has linked nodes but without output (e.g. imported form a json) is exported without keeping the node links.

Steps:
1.- import a workflow: workflow1.json
2.- Export that workflow to workflow2.json
3.- import workflow2.json.
4.- nodes are not linked as they were in step 1.

[2017-11-14 14:53] pconesa commented on #1338
It does not happen in all cases...I'm trying to see when it happens.
If you use one of the templates for tutorials seems to work fine.

It might be related to "schedule" state?

[2017-11-15 13:03] ldelcano commented on #1328
Done.
How to on https://docs.google.com/document/d/1zXvh5iAGk4k4pZSLdXcUYSKrtCplgUYfQ9INXjlbC1Y/edit
Test machine at https://scipiongpu-training.westlife.fedcloud.eu/vnc.html

[2017-11-15 13:03] #1328 closed

[2017-11-15 14:40] pconesa opened #1339 "Evaluate the use of /tmpfs in Scipion."
to speed thing up.

[2017-11-15 14:43] delarosatrevin commented on #1339
Is this the same as the fast named /scratch directories?

[2017-11-15 14:46] pconesa commented on #1339
Not sure, people from Strassburg are using it, I think is the "standard" linux [/tmpfs](https://en.wikipedia.org/wiki/Tmpfs), not sure if scratch dir refers to the same.

[2017-11-15 15:07] jmichalon commented on #1339
Scratch disk may be something like a on-the-fly beegfs volume (the HPC center I know about uses this) or fast disks (RAID array of 10/15k RPM disks).
What I meant as tmpfs is indeed a standard linux in-memory file system, like the one mounted by default in /dev/shm and as we can use it like a regular FS it's easy to just drop files there that we will remove soon.

[2017-11-15 15:10] pconesa commented on #1339
Thanks, @jmichalon, and welcome.

[2017-11-15 15:20] jmichalon commented on #1339
Would probably speedup a lot, but a big issue would be to "wait" for space release, since it's quite limited (here we have a 64GB RAM box), a whole dataset will never fit. In my current quick and dirty pipelining I have to "soft fail" and reschedule the jobs when it reaches a limit (I limit in file count since they all have the same size in my case but other limits would probably be needed).
(just

[2017-11-15 15:23] delarosatrevin commented on #1339
We don't have a counting...but for movies processing (I'm not sure if for micrographs too) we clean the run tmp as soon as the value was calculated...so this could alleviate the problem of filling up that spaces. For the streaming processing I think there is no need to have many in parallel for a given task (e.g movie alignment).

[2017-11-16 08:30] #1279 closed

[2017-11-16 11:15] ldelcano opened #1341 "Create a Scipion image for FedCloud using packer"
Use packer to create a ScipionCloud image for the FedCloud (Virtualbox ova image).
Investigate if Radim's puppet manifest files could be injected into packer to reuse them.

[2017-11-16 15:28] yaizar commented on #1333
Here's the vertical version of the resolution and defocus histograms, feedback would be welcome before we push these changes! @cossorzano @rmarabini any thoughts?

![image](https://user-images.githubusercontent.com/4609687/32899305-e746ae7a-caea-11e7-8509-839b3b9c737e.png)

[2017-11-16 15:40] pconesa commented on #1333
@azazellochg might want to feedback too.

[2017-11-16 16:04] azazellochg commented on #1333
@pconesa @yaizar I'm thinking:
1) maybe reverse x-axis (start from 0)
2) x-labels can be every 2nd tick
3) for defocus maybe too many labels/numbers? 0,0.5,1.0,1.5 would look better?

[2017-11-16 16:38] yaizar commented on #1333
thanks for the feedback @azazellochg, with your suggestions we would have something like this
![image](https://user-images.githubusercontent.com/4609687/32903099-6c911de6-caf4-11e7-9198-6fff92968c6e.png)
The x-labels auto-adjust depending on screen size, I don't see them particularly crammed, did you mean this for defocus coverage or for both? Is it better now with the .5 step?

[2017-11-16 16:52] azazellochg commented on #1333
@yaizar looks nice! If x has auto-adjust then it's fine

[2017-11-17 10:38] dmaluenda opened #1345 "3Dmask generator is not applaying dilate when symmetrize"
- [x] Create 3D mask protocol does not apply dilate operation for any symmetrization (cn, dn).

- [x] In addition, when Smooth Borders is chosen. The range of the mask values is not strictly from 0 to 1 (e.g. from -1E-6 to 0.999). The problem is with the negative values.

[2017-11-17 12:29] yaizar commented on #1284
Looks like this is passing in buildbot too as of now?

![image](https://user-images.githubusercontent.com/4609687/32947251-4a2a6f6c-cb9b-11e7-9f62-711fb309417e.png)

[2017-11-17 14:00] azazellochg commented on #1333
Hi @yaizar , in which branch "Shorter file names in thumbnails?" was done? or it's not in upstream yet?
Also, now I realize that astigmatism angle is a useless parameter to track (since this is not amount of astigmatism present, but just an angle between two defocus axes). It would be much better to add things like drift, CC fit, iciness..

[2017-11-17 14:56] yaizar commented on #1333
it should be in release-1.1.facilities-fixes with the rest of the tweaks, I'm guessing it didn't work out? We're looking into removing the astigmatism angle, thanks

[2017-11-17 15:14] azazellochg commented on #1333
@yaizar I am running demo in this branch and it still looks the same.
Astigmatism angle can be easily replaced by the amount in Angstroms - e.g., calculate on-the-fly (defocusU-defocusV) - this would be an alternative parameter for ratio.

[2017-11-17 16:39] azazellochg commented on #1333
I have pushed a commit a77662a to release-1.1.facilities-fixes, please have a look and revert/modify if necessary.

[2017-11-17 16:44] yaizar commented on #1334
Addressed in 33a8157

[2017-11-17 16:46] yaizar commented on #1333
@azazellochg looks good to me, I'll take a closer look on Monday. Shorter thumbnail titles should be up now :-)

[2017-11-17 17:59] azazellochg commented on #1333
@yaizar ok! Another thing is that in Firefox special characters like Angstrom sign, um are displayed wrongly (Chrome is ok): like 54.79Ã… 3.30Î¼m
Also about shorter thumbnails, after "cutting" the filename there is no way to find the original name of any certain micrograph anymore, maybe something like:
1) removing folder name (it is useless anyway)
2) showing FoilHole.... (limit to 55 symbols), b

[2017-11-20 11:12] pconesa opened #1348 "buildbot: tests.em.protocols.test_protocols_motioncor2.TestMotioncor2AlignMovies"
it is failing.

[2017-11-20 11:40] rmarabini commented on #1333
Hi,

    @yaizar <https://github.com/yaizar> if html report is more or lest
stable. Could you test it in einstein (user scipiouser) with a few hundred
of movies?
@pconesa knows the password and where are the movies.

The ideal test -may be we should this together the first time would be as
follows:

- open a vnc conection with Einstein
     - connect to Einstein using ssh as scipionuser
     - sta

[2017-11-20 11:41] pconesa commented on #1314
Maybe allow to stop it or enabled the button as it were before.?

[2017-11-20 12:02] pconesa opened #1349 "Create 1.2? beta bundle."

[2017-11-20 12:09] pconesa opened #1350 "check backward compatibility of CTF discrepancy"
Viewer seems to fail with old data

[2017-11-20 13:51] ldelcano commented on #1321
I doubt that image.tgz is on the source code tar since the scripts/tar.py that is used to create them has an --exclude='*.tgz' option.

[2017-11-20 15:35] pconesa commented on #1316
add this image to the wiki page
![image](https://user-images.githubusercontent.com/785633/33026513-e0c59966-ce10-11e7-9850-2a4bda805247.png)

[2017-11-20 15:48] pconesa commented on #1294
@delarosatrevin , I've assigned this to you since you are already exploring this.

[2017-11-20 21:58] azazellochg commented on #1333
I got another question: what does Search field in Micrographs table do? I can't figure out what it finds for me :)

[2017-11-21 06:32] pconesa commented on #1333
It filters the table by any value in any column is the standard behavior of the widget. Can be hidden , but it works and might be useful in few cases.

[2017-11-21 12:58] pconesa opened #1352 "Add alignparts SW?"
Pointed out by one of our users.

https://arxiv.org/pdf/1409.6789.pdf

Code at: https://sites.google.com/site/rubinsteingroup/direct-detector-align_lmbfgs

[2017-11-21 13:24] mmmtnez opened #1353 "Selection of one or more elements in a setOfPDBs"
Related to [#1089](https://github.com/I2PC/scipion/issues/1089)

A setOfPDBs is created by running the powerfit modeling protocol. By default, this set of PDBs contains 10 pdbs with its particular score of fitting to a certain volume. In the next step of the modeling workflow, we would like to select one or more of these pdbs based on the scores, as we used to do, to run another protocol/program.

[2017-11-21 14:58] dmaluenda commented on #1314
Stop button added in protocol option when it is in launched status:

STATUS_LAUNCHED constant is added to stoppable condition in getActionsFromSelection(self) function.

commit in facilities-fixes by commit d791c7a1067ed28bfeaa21431d5afcf786f0b3c2

[2017-11-21 17:20] dmaluenda commented on #1053
The third extraction test (Relion) is to check the correct particles extraction from
a subset of the initial set (i.e. smaller than the CTFs and coords)

This subset was depending to the random subset, thus the assertation procedure with
the first item of the final output sometimes was failed.

Now the subset is done with the splitSet with NO randomize, thus the first item is correct.

Commited in

[2017-11-21 22:21] delarosatrevin commented on #1108
@pconesa Has this been addressed? Can this issue be closed?

[2017-11-21 22:22] #1327 closed

[2017-11-21 22:27] delarosatrevin commented on #1239
@rmarabini , any news on this? There is a user that gave some feedback about the plots to @cossorzano , @pconesa and @josuegbl. It would be good to take a look into this.

[2017-11-22 08:11] rmarabini commented on #1239
Hi @delarosatrevin,

I am working on it.

   Roberto

On Tue, Nov 21, 2017 at 11:28 PM, Jose Miguel de la Rosa Trevin <
notifications@github.com> wrote:

[2017-11-22 09:23] ldelcano opened #1354 "Improve westlife-cloudify-scipion from MU team"
MU (Radim) had worked on a cloudify-puppet application to deploy Scipion on a cloud site (FedCloud). this is on MU github repository https://github.com/ICS-MU/westlife-cloudify-scipion.
I will customize it to include a light DE such as LXDE or XFCE and a scipion account to run scipion.

[2017-11-22 09:28] ldelcano commented on #1321
Verified:
- source tar currently includes all sources but fails cause it is missing imagej.tgz file. I will include it on the tar.
- binary tar currently includes same sources as the other. I will remove them (all in scipion/software/em/xmipp/libraries or maybe only *.h, *.cpp, *.java?)

[2017-11-22 10:37] pconesa commented on #1108
Don't think so, how is to simulate a "non GUI" environment?

[2017-11-22 10:46] azazellochg opened #1355 "localizedRec uses wrong relion version"
To reproduce:
1) set in config RELION_HOME = %(EM_ROOT)s/relion-2.1 and LOCALREC_RELION_HOME = %(EM_ROOT)s/relion-1.4
2) the protocol will try to use relion2 instead of 1.4

If both vars are set to 1.4 then it's ok.
PS. I checked the os.environ and it has 1.4 set, not 2.0 (except RELION_HOME var which is 2.0). Localrec uses os.system(command), but I don't know where it gets 2.0 version from, I don

[2017-11-22 10:56] ldelcano commented on #1321
I was wrong: imagej.tgz IS on the source tar.
The only problem is with binaries, which should not include any source at all (*.h, *.cpp and *.java)

[2017-11-22 11:03] pconesa commented on #1355
@azazellochg thanks, we'll have a look.

[2017-11-22 12:22] delarosatrevin commented on #1108
I'm not sure about how to simulate it...make rename some basic X11 libraries...but not sure how safe is this.  But when I was on Diamond we manage to bypass all matplotlib includes...I'm not sure if this viewer still includes directly the matplotlib or the one in our modules (the way to be more robust to no gui environments)

[2017-11-22 13:15] ldelcano opened #1357 "Prepare Scipion on the cloud course (January)"
- [ ] Prepare content
- [ ] Prepare practical parts

[2017-11-22 13:17] ldelcano opened #1358 "Put ScipionCloud image AWS AMI on Marketplace"
- [x] Modify ScipionCloud image to be compliant with MarketPlace rules:
-- Remove authorized keys
-- Set up a random generation password (in place on guacamole but check)
-- Make sure scipion account password login is disabled
- [ ] Register as a AWS market place seller

[2017-11-23 14:01] azazellochg commented on #685
this was fixed

[2017-11-23 14:01] #685 closed

[2017-11-23 14:22] azazellochg commented on #1333
@pconesa thanks for fixing the table back again, there is just a couple of places left:
1) pixel size in summary monitor form
![screenshot_20171123_142132](https://user-images.githubusercontent.com/6952870/33177181-a64ebe5c-d059-11e7-9ee0-4667983496ae.png)
2) in html report, acquisition list: Pixel Size (Ã…/px): 7.08000404572 (Angstrom sign and numbers)

[2017-11-23 14:27] azazellochg commented on #1333
A different thing is: the micrograph table is empty when I'm running protocols on the image attached above.. would be nice to see ctf results, even if no shift plots are available (we can show simply "No data" or simply hide the column when no movie alignment is running).

[2017-11-23 16:32] azazellochg opened #1362 "add relion localsym"
[This](https://www2.mrc-lmb.cam.ac.uk/relion/index.php/Local_symmetry) protocol is available from relion version 2.1 only. This is still in development, so we might want to wait out a bit.

[2017-11-23 20:30] azazellochg opened #1363 "filesPath param adds '..' to the folder path"
When I select a folder in any protocol for PathParam, two dots are added to the end of path - this should not happen (I end up in parent folder :-1: ).

![screenshot_20171123_202909](https://user-images.githubusercontent.com/6952870/33187866-fe59bbe6-d08c-11e7-96c1-946616952904.png)

[2017-11-24 18:28] #1348 closed

[2017-11-27 10:34] dmaluenda commented on #1363
Thanks Gregory.

Now,  we check the path and if it ends with "/..", we pass the current dir (removing the "/..").

Commited in facilities-fixes [0c8370feff6212c9bb75c2e3741507022f3b1a0b]

[2017-11-27 10:38] delarosatrevin commented on #1363
Hum...this looks like a bit dirty workaround...I think the file browser should not add the extra ".." characters to the path. The problem with this workaround is that you will need to check it in every place of the code where the browser is used (or will in a future ;)

[2017-11-27 11:29] ldelcano commented on #1321
Centos_64 VirtualBox machine that existed on einstein to create binaries is gone (einstein was reformated). I instantiated a Centos6 VM on the Fedcloud to compile binaries but they are not working:
ValueError: unsupported hash type sha384
ERROR:root:code for hash sha512 was not found.
...
ImportError: cannot import name md5

there is another Centos64 VM in nolan but it shutoff nolan when we try to

[2017-11-27 17:22] dmaluenda commented on #1363
Finally the solution have been very easy. We keep the focus on the first item of the browser, but it remains unselected (see a doted box on the item but not highlighted). Thus, the _lastSelected item still being the current dir.

Of course, if the user select the .. folder, the path will be \<currentDir>/.. but this is consistent.

Committed in facilities-fixes [4ab256ec639a1f33f9852bc105022d320ad

[2017-11-27 17:25] delarosatrevin commented on #1363
Great!

[2017-11-27 18:28] JuhaHuiskonen commented on #846
I have the same issue. I have edited the config/scipion.conf to point to Intel compiler but I can see g++ being used

[2017-11-28 06:58] pconesa commented on #846
Thanks @JuhaHuiskonen

[2017-11-28 08:26] pconesa commented on #1333
Hi @azazellochg , I could fix 1. and 2. (now in fixes branch) but his last one will take some time so I'm separating it in a different issue and will probably be fixed later. We want to freeze the code to prepare the new release and have to cut somewhere. ;-(

[2017-11-28 08:26] #1333 closed

[2017-11-28 08:27] #1298 closed

[2017-11-28 08:27] #1053 closed

[2017-11-28 08:27] #1314 closed

[2017-11-28 08:27] #1282 closed

[2017-11-28 08:27] #1283 closed

[2017-11-28 08:29] pconesa opened #1366 "HTML report: Show CTF data when no movies"
Extracted from #1333, from Gregory:
"the micrograph table is empty when I'm running protocols on the image attached above.. would be nice to see ctf results, even if no shift plots are available (we can show simply "No data" or simply hide the column when no movie alignment is running).

Also, autopicking protocol is missing from Name column (coordinates are not coming from ctffind :)
![screenshot

[2017-11-28 08:53] #1277 closed

[2017-11-28 08:55] josuegbl commented on #1110
@delarosatrevin, could you check this or remove the milestone?

[2017-11-28 08:59] rmarabini commented on #1333
Is this already in lrelease-1.1.facilities-devel?

On Tue, Nov 28, 2017 at 9:26 AM, Pablo Conesa <notifications@github.com>
wrote:

[2017-11-28 09:11] pconesa commented on #1316
![image](https://user-images.githubusercontent.com/785633/33311258-87304f44-d424-11e7-844a-8360708fa7ed.png)

[2017-11-28 09:14] #1332 closed

[2017-11-28 10:17] azazellochg commented on #1147
Now it crushes also with many thread or MPIs, locally or on cluster. The weird thing is it works with 4 threads, as soon as I use 6-8 or more, it fails in the middle of the run. The process just dies, no error or anything. I will try to debug it further when I find time.

[2017-11-28 10:44] ldelcano opened #1367 "noVNC rejects connections"
Sometimes noVNC rejects connections due to 'Too many authentication failures'. It seems VNC blacklists IPs after too many tries but this does not explain why I could not connect from an IP that did not try (it explains that there are automatic agents trying ports on machines all over the network).
If it happen again investigate it. A solution could be to use a proxy or a tunnel. On noVNC wiki ther

[2017-11-28 10:47] ldelcano commented on #1321
We will investigate how to set up a proper Centos machine to create binaries. In the mean time I have removed sources from the existing binary file and added piece of code to scipion script to check that if no source exists xmipp should not be compiled.

[2017-11-28 11:37] pconesa commented on #1355
Hi @azazellochg , I got a similar scenario and, at least the test works fine. Actually, I've moved %(EM_ROOT)s/relion-2.0 out of software/em  to be sure that is finding it.

scipion test tests.em.protocols.test_protocol_localized_reconstruction.TestLocalizedRecons

Actually, the tesst fails in the last stpe which is using relion 2.0 to reconstruct and, because I've moved it away it does not valida

[2017-11-28 11:43] azazellochg commented on #1355
Hi @pconesa , I am not sure I follow, what did you do with relion-2.0? In my case the test protocol cannot start because it is using wrong relion.

[2017-11-28 13:18] pconesa commented on #1355
Yes, in my case it failed because I intentionally corrupted Relion installation moving it out of the path (this was just to check that localrec protocols uses relion 1.4.

In my case, these settings worked and passed the test completely:
RELION_HOME = %(EM_ROOT)s/relion-2.0
LOCALREC_RELION_HOME = %(EM_ROOT)s/relion-1.4

Not sure if having 2.1 (this is the beta and was removed some time ago) makes

[2017-11-28 13:23] azazellochg commented on #1355
You are right, if I put non-existing path in RELION_HOME then it works.

[2017-11-28 13:24] pconesa commented on #1355
Just to clarify a bit more:
My test failed in the last protocol, which is a RELION reconstruct protocol, and this is due to my "intentionally" currupted of RELION installation.
![image](https://user-images.githubusercontent.com/785633/33321821-484c438c-d447-11e7-8bde-c5b067b22f58.png)

That way I can be sure that the
![image](https://user-images.githubusercontent.com/785633/33321919-ab110188-d447-

[2017-11-28 13:25] pconesa commented on #1355
So you probably have a  relion non working version? currently supported one should be 2.0, although can't see why the "ephimeral" 2.1 you might have should not work.

[2017-11-28 13:35] azazellochg commented on #1355
Ah, I see now. Relion-2.0 works (and localrec test still uses it besides specifying 1.4 in config). Relion-2.1 apparently has changes in default options:
[code]

[2017-11-28 13:49] pconesa commented on #1355
Gotcha!!! Good to know, something to have in mind when rescuing relion-2.1
@josuegbl , bear this in mind please.

[2017-11-28 15:25] azazellochg opened #1368 ""recalculate CTF" button when viewing SetOfCTFs subset"
When displaying SetOfCTFs (a subset created from ctf results), this button should not be available, since there is no more link to the ctf protocol:
`'ProtUserSubSet' object has no attribute 'isFirstTime'`

[2017-11-28 16:59] azazellochg opened #1369 "low freq default value ctf viewer"
Somewhere around [here](https://github.com/I2PC/scipion/blob/release-1.1.facilities-devel/software/em/xmipp/java/src/xmipp/viewer/ctf/CTFRecalculateImageWindow.java#L126), in recalculate ctf viewer, low freq limit could be set by default to 0.05, because 0 value (now default) is not accepted.

[2017-11-28 17:03] azazellochg commented on #1369
Also, maybe the default values could be taken from the protocol where it was run? This would be very convenient so I don't have to change it for every psd

[2017-11-28 17:57] azazellochg opened #1370 "rlnPhaseShift is not propagated in relion"
The similar thing that we had with groupName, phase shift determined by ctf programs is not propagated neither when doing particle extraction, nor when doing convertInputStep in any relion protocol

[2017-11-29 10:19] JuhaHuiskonen opened #1371 "classes cannot be saved after 3D classification of subtracted data"
I have ran 'relion - subtract projection' followed by 'relion - 3D classification'. If I open the classes with 'Analyse results' -> 'show classification in Scipion' and try to save particles from one class, I get this error:

 STARTED: createSetStep, step 1
00012:     2017-11-29 10:57:01.770192
00013:   Traceback (most recent call last):
00014:     File "/wrk/project_cryoem/apps/taito/scipion-1.1.

[2017-11-29 11:13] pconesa commented on #1371
Thanks @JuhaHuiskonen , I'll try to reproduce it here.

[2017-11-29 12:07] dmaluenda commented on #1369
Thanks Gregory,

Making the frequency interval passed in the protocol is a very good idea, however this is not easy with an elegant way. What a pity because it would be great. By the moment, we put the default value of all the CTF protocols (0.05).

Committed in Facilities-fixes [5627fb947da04f1491663bd9f7cb0ec0167b4238]

[2017-11-29 12:24] azazellochg commented on #1208
it is not exported for new projects, together with _resolution and _fitQuality

[2017-11-29 15:15] ldelcano commented on #1358
- [ ] We need a product image at least 110px wide and between a 1:1 and 2:1 ratio

[2017-11-30 09:37] JuhaHuiskonen commented on #1371
OK, it's not a related to subtraction - I encountered the same error in a different project (no subtraction) and on a different cluster.  After repeating the selection and saving the particle subset, it suddenly worked.

[2017-11-30 09:37] #1371 closed

[2017-11-30 09:53] pconesa commented on #1371
Thanks Juha for updating this. Still, we will keep an eye on this since it first error should not happen.

[2017-11-30 13:23] ldelcano commented on #1358
I need to make sure we comply with all software licenses that we distribute on the AMI:
- [ ] Scipion + EM packages
- [ ] Guacamole (Apache)
- [ ] Tomcat (Apache)
- [ ] Apache (Apache)
- [ ] Ubuntu 14.04: Several licenses (mostly GPL)
- [ ] CUDA toolkit + Nvidia driver
I had a look at AWS marketplace and is full of Ubuntu+CUDA, Ubuntu+Apache... so I guess it is not a problem.

[2017-11-30 13:27] ldelcano commented on #1354
I will not add an 'scipion' account on the first version.
To make it work on IISAS:
- [ ] Remove availability_zone from yaml's
- [ ] Remove external volume from yaml's
- [ ] Add a cloudify step to assign a public IP (IISAS does not automatically assign an IP at creation time, as CESNET does). I ask Radim but he needs to pass the question to cloudify-occi-plugin developers

[2017-11-30 13:30] ldelcano opened #1374 "Prepare a VM to create scipion binaries"
Centos_64 (centos 6.5) VirtualBox machine at einstein is gone (it was reformatted). The one at nolan dumps nolan when started. I copied the vdi from nolan to my laptop and verified that it can be used to create binaries.
Move it to another server.

[2017-11-30 13:51] pconesa opened #1375 "Search in "object selector""
Would be nice to be able to search on the "object borwser" window when there are lots of Input candidates.

[2017-11-30 13:57] pconesa opened #1376 "avoid copying movies already copied..."
Find a way to reuse already imported movies and avoid copying them again.

THis is a special case whenthe import paramater were wrong and need to re-import and additionally you want to copy the movies.

[2017-11-30 13:58] azazellochg commented on #1375
could be addressed together with #928 :)

[2017-11-30 13:59] ldelcano commented on #1358
Not possible. We need a US bank account to register as a AWS marketplace seller. Too much bureaucracy.

[2017-11-30 13:59] pconesa opened #1377 "A way to free space .."
when you have discarded some movies and will not use them anymore...have a way to delete them.
A protocol?

[2017-11-30 13:59] #1358 closed

[2017-12-01 09:15] ldelcano commented on #1367
It happened again. Investigate it.

[2017-12-01 12:31] ldelcano commented on #1367
I have disable remote login from VNC security configuration and still let to connect through noVNC. Let's see if this solves the problem.

[2017-12-01 12:56] ldelcano opened #1378 "Contribute to Westlife deliverable D4.5."

[2017-12-01 13:10] ldelcano opened #1379 "Investigate how Westlife OneData could be useful"

[2017-12-04 10:42] pconesa commented on #1286
Import, add a set to exclude
Increase streaming finish timeout to prevent import to close earlier than desired (3600*12) --> 12 hours? An allow empty value for an endless input.

[2017-12-04 10:44] delarosatrevin commented on #1286
I agree that increasing the stop time value is a good idea, specially since the operator can stop the streaming manually. I would not complicate the code with the endless input, since it is easy to add many zeroes to the stopping time.

[2017-12-04 11:27] pconesa commented on #1286
@delarosatrevin thanks!

[2017-12-04 13:20] ldelcano commented on #1321
Done. Modified scripts/tar.py to exclude source files (*.h, *.cpp and *.java) when generating binaries (linux64).

[2017-12-04 14:41] azazellochg opened #1382 "add relion extract movie particles"

[2017-12-05 09:06] rmarabini opened #1384 "webconponents"
Pablo and I have incorporated the  "display workflow" webcomponent to EMadmin. After playing with it a bit  I find four limitations:

1) Does not work with firefox (It does work in chrome, so far I have not tried any other browser)
2) If the user requests and invalid workflow, then the workflow json is  {'error':'workflow xxxxx not available'}. As implemented now (may be my fault) the webcomponent

[2017-12-05 11:00] rmarabini commented on #1384
I move this to the right repo: https://github.com/I2PC/web-workflow-viewer
Since I'm logged in as you since yesterday, (I'm Pablo) I can do it as @rmarabini. ;-)

[2017-12-05 11:00] #1384 closed

[2017-12-05 12:21] dmaluenda commented on #1219
It seems that are fixed.

I have check it in facilities-devel (in Nolan) and in Buildbot (see http://heisenberg.cnb.csic.es:9980/#/builders all green in Protocols_tests and the 7th in Workflows_tests)

[2017-12-05 16:33] cossorzano opened #1385 "When scaling images, if they have 2D or 3D alignment, are the shifts scaled?"

[2017-12-06 08:25] JuhaHuiskonen commented on #1382
Thanks for this @azazellochg, I know many people are eager to have this working.

[2017-12-06 08:29] JuhaHuiskonen opened #1386 "Interactive runs crash if the protocol is opened from another machine"
Some runs need to be run interactively (e.g. GPU jobs in our setup). If I accidentally open the project later from a different machine (after having closed it from the original machine), the job will immediately fail. It would be nice if this wouldn't happen. Maybe there could be a warning state for such situations where scipion cannot determine whether the job is running.

[2017-12-06 16:47] JuhaHuiskonen commented on #912
I discussed this with @delarosatrevin - which branch is this? Would be very useful... Thanks

[2017-12-06 16:50] JuhaHuiskonen opened #1387 "xmipp - hires problem"
I have been testing the new 'xmipp - hires' protocol.  I can't seem to get it run, it crashes with an error:

00055:   XMIPP_ERROR 22:  It is not a file
00056:   FileName::isMetaData: File: 'Runs/012293_XmippProtReconstructHighRes/extra/Iter000/angles.xmd' does not exist
00057:   File: software/em/xmipp/libraries/data/xmipp_filename.cpp line: 560

I have about 4000 particles, my box size is 800 an

[2017-12-06 17:26] azazellochg commented on #912
Hi @JuhaHuiskonen , I am afraid it's still half-done - alignment/acquisition/coords params are not passed from input particles yet. Also the branch is not tested at all.
[this is the branch](https://github.com/azazellochg/scipion/tree/local-ctf) based on release-1.1-facilities-devel

[2017-12-08 07:50] JuhaHuiskonen commented on #1276
Hi @delarosatrevin has anyone looked into this? I am still getting this error and my branch is up-to-date.  Also relion 3D classification crashes (with the same error) when this second mask (solventmask2) is given. BTW, I am not giving the first mask as a solventMask, as I specify the size of the particle with diameter.

[2017-12-09 15:34] JuhaHuiskonen commented on #1276
Also, I noticed that the mask values are scaled as follows using xmipp_image_transform:

if <0 set to 1
if >1 set to 1

shouldn't it be:

if <0 set to 0
if >1 set to 1

[2017-12-09 18:21] azazellochg commented on #1276
@JuhaHuiskonen you are right, these are trivial mistakes that are now fixed in release-1.1.facilities-fixes branch. Eventually (after #1373 ) they will land up in 1.1-devel. You can look at my two latest commits to fixes branch if you need an urgent fix.
Thanks for reporting!

[2017-12-09 18:22] delarosatrevin commented on #1276
@azazellochg Thanks a lot one more time for your help! I will take a look at the PR next week.

[2017-12-09 19:42] azazellochg commented on #1387
I have got another issue when running with threads (not MPIs):
[code]
The problem is that Nsimultaneous param exists only for mpi version of the program

[2017-12-11 09:14] ldelcano commented on #1367
Seems it does.

[2017-12-11 09:14] #1367 closed

[2017-12-11 09:26] JuhaHuiskonen opened #1388 "xmipp3 - local MonoRes does not find half volumes from Relion"
I cannot input the half maps from an earlier Relion refinement.

[2017-12-11 09:27] ldelcano opened #1389 "Create new ScipionCloud AMI AWS without Guacamole"

[2017-12-11 13:58] pconesa commented on #1388
@Vilax could you have a look, please.

[2017-12-11 14:26] Vilax commented on #1388
Dear Juha,
Thanks for reporting this problem.

The output of Relion refinement protocol does not consider half maps. It means, Scipion cannot handle half maps because they are not output of this protocol. You will find the half maps files in the protocol folder, (just click on browse protocol icon or right click in the protocol box). So that, if you want to use any local resolution method (not onl

[2017-12-11 14:32] delarosatrevin commented on #1388
Hi @Vilax ,
remember that by design in Scipion we try to avoid using files apart from the initial imports.
So, after the relion 3D refinement, one could visualize the half-maps from the "Analyze Results" and register them as outputs (similar to other side products of some protocols, e.g iteration results).

Once you have the half-maps registered, you can use them as input in any protocol.

[2017-12-11 14:47] Vilax commented on #1388
Thanks a good point!

Thanks @delarosatrevin

[2017-12-11 15:00] pconesa commented on #1388
@delarosatrevin , I didn't know we could do that!

[2017-12-11 16:06] pconesa opened #1390 "Devel: Some viwers are not discovered now"
@rmarabini , we found out today that these [lines](https://github.com/I2PC/scipion/blob/devel/pyworkflow/em/viewer.py#L60) are actually needed, at least those for the Gain viewer and the Summary monitor.

I agree, that for the gain viewer (more an Xmipp viewer) should be place under xmipp, but not sure about the others.

[2017-12-12 09:18] rmarabini commented on #1390
Hi,

Fools rush in where angels fear to tread

I do not have a very clear vision on how the viewers are identified but I think the way to go is:
Restore

# from viewer_fsc import FscViewer
# from viewer_pdf import PDFReportViewer
# from viewer_monitor_summary import ViewerMonitorSummary

And add the following imports to __init__,py in pyworkflow.protocol.monitors and see what happens

# from proto

[2017-12-12 09:36] pconesa commented on #1390
Well, I think the gain one, belongs more to Xmipp. I see it somewhere under Xmipp folder.

[2017-12-12 09:58] rmarabini commented on #1390
OK

On Tue, Dec 12, 2017 at 10:36 AM, Pablo Conesa <notifications@github.com>
wrote:

[2017-12-12 14:59] #1276 closed

[2017-12-12 14:59] #1369 closed

[2017-12-12 15:03] azazellochg commented on #1363
I guess I can close this now.

[2017-12-12 15:03] #1363 closed

[2017-12-13 14:47] azazellochg commented on #1266
Both my questions were addressed, so this is closed.

[2017-12-13 14:47] #1266 closed

[2017-12-14 12:11] azazellochg opened #1393 "MotionCor2 1.0.4"
http://msg.ucsf.edu/MotionCor2/MotionCor2-1.0.4.tar.gz

[2017-12-14 14:28] delarosatrevin commented on #1393
Yes, this should be relatively easy to update.

[2017-12-18 08:56] pconesa commented on #1393
Thanks @azazellochg , we will include it in this next release. We are about to generate the binaries as "beta" while we do some manual tests.

[2017-12-18 10:18] azazellochg opened #1394 "failed movies added to output"
When motioncor fails (I checked only in streaming), the failed movies are still added to the dataset (they have no shifts). This should be avoided.
![screenshot_20171218_101230](https://user-images.githubusercontent.com/6952870/34101133-9951b8da-e3dc-11e7-9cb4-d77b5e2e9a3c.png)
![screenshot_20171218_101545](https://user-images.githubusercontent.com/6952870/34101141-a14fdb48-e3dc-11e7-87fb-becf6a74

[2017-12-18 10:51] majtner opened #1395 "Scipion error loading protocols"
I am executing some protocol, it fails, I can see it in Output log, so I close Scipion and try to fix the problem.
When I launch Scipion again, this protocol has still status "launched" (in Output log I still see it failed), so I can not edit it and launch again. Refresh in top right corner does not help. I need to click on protocol and choose "Stop", which will end with error (since the protocol

[2017-12-18 11:09] pconesa commented on #1394
thanks @azazellochg , will have a look.

[2017-12-18 12:19] pconesa commented on #1395
@dmaluenda fix this in facilities....he can explain the solution. I think changes need to be pushed to devel.

[2017-12-19 09:30] #1378 closed

[2017-12-19 09:30] #1321 closed

[2017-12-20 12:49] pconesa commented on #1394
@azazellochg , I'm confused....is the output wrong for the motioncor protocol or is it for the summary monitor.

[2017-12-20 13:13] azazellochg commented on #1394
@pconesa both show wrong output. I guess motioncor is wrong.

[2017-12-20 13:58] #1208 closed

[2017-12-21 07:10] pconesa opened #1401 "Support 4bit mrc"
From [scipion user list](https://sourceforge.net/p/scipion/mailman/message/36164680/)

[2017-12-21 07:17] pconesa commented on #1395
I've pushed changes to devel.

[2017-12-21 11:54] azazellochg commented on #1401
this is so-called mode 101
specs: http://bio3d.colorado.edu/imod/betaDoc/mrc_format.txt

[2017-12-21 12:09] cossorzano commented on #1387
Done, thank you Grigory, this program makes sense only in MPI

[2017-12-21 12:09] cossorzano commented on #1387
Solved in facilities-devel

[2017-12-21 12:09] #1387 closed

[2017-12-21 12:17] ldelcano commented on #1374
Moved to heisenberg.
Updated documentation on https://github.com/I2PC/scipion/wiki/Generating-Binaries

[2017-12-21 12:37] pconesa commented on #1401
As always, many thanks, @azazellochg. I've googled it and found the same link but wasn't sure.

[2017-12-21 13:06] #1395 closed

[2017-12-21 14:40] delarosatrevin opened #1402 "Default value for 'Use previous alignments' in Relion"
From @JuhaHuiskonen...

I noticed that 'consider previous alignment' is a default in relion refinement protocols.   If this is selected, the current angles get written as priors, which is what it should do. But I don't think it makes sense to have this as a default however.

I am saying this because I think it causes a problem in most typical workflows, where the angles come from 3D classification

[2017-12-22 09:36] #1315 closed

[2017-12-22 09:38] pconesa opened #1403 "TestWorkflowRelionExtract fails"
An assertion is failing, it seems there is a random factor that make the first particle to be not the expected one.

[2017-12-22 12:58] josuegbl commented on #1355
Well, this issue is related to the way to run relion programs inside localrec code (matrix3.py). There, a runProgram function is imported from pyworkflow/em, and the relion enviroment is set from relion convert; using a relion version that could be incompatible with the command line that localrec wants to execute. In facilities-fixes is fixed editing RELION_HOME environ variable, but I think that

[2017-12-22 16:31] pconesa opened #1404 "RelionInitialModel test is failing"
I'm getting:
TypeError: Unrecognized type to create MDObject
00035:   Protocol failed: Unrecognized type to create MDObject

[2017-12-22 16:32] pconesa commented on #1402
Thanks, if all both agree, yes it can go in the release. By the way, I don't see it happening this year!.

[2017-12-22 16:57] pconesa commented on #1404
I got more info: the actual problem is around rlnPhaseShift value being None?

00016:   XmippMdRow.writeToMd: Error writing value to metadata.
00017:                        label: rlnPhaseShift, value: None, type(value): <type 'NoneType'>

[2017-12-22 17:56] azazellochg commented on #1404
@pconesa my bad, fixed in facilities-fixes

[2017-12-23 11:58] JuhaHuiskonen opened #1406 "wish list: start protocol from the right click menu"
When importing a workflow, it would be nice to start a protocol (or even several protocols) by right click and 'run' - instead of opening the individual protocols and running them this way

[2017-12-26 06:35] pconesa commented on #1404
Excellent, @azazellochg , thanks!.

[2017-12-26 06:37] pconesa commented on #1406
Thanks @JuhaHuiskonen , that will make it more user friendly.

[2017-12-26 10:37] azazellochg commented on #1402
Hi @delarosatrevin ! I agree with @JuhaHuiskonen , the current default option will set priors and thus all subsequent local searches are done around those. Switching this off will allow optimal angles/shifts (from previous iteration) to slowly move away.

However, now the alignments are not copied from input particles at all to input star file if this options is False. If someone whats to continue

[2017-12-26 10:52] azazellochg commented on #1319
done in  cfdb565

[2017-12-26 10:52] #1319 closed

[2017-12-26 10:58] azazellochg commented on #1239
I guess this is solved now.

[2017-12-26 10:58] #1239 closed

[2017-12-26 11:08] azazellochg commented on #1000
hm, afaik, motioncor2 reads mrc and dm4 gain reference without problems...

[2017-12-26 11:09] #779 closed

[2017-12-26 11:12] azazellochg commented on #710
@pconesa I guess this is done? :)

[2017-12-26 11:12] #710 closed

[2017-12-26 11:13] azazellochg commented on #687
same as #1297

[2017-12-26 11:13] #687 closed

[2017-12-26 11:23] pconesa commented on #710
yep, thanks!

[2017-12-26 11:24] azazellochg commented on #1306
Hi @majtner , I did not catch that. I can extract particles without any ctf.. in which case there is no output?

[2017-12-26 11:35] cossorzano opened #1409 "Screen particles mismatch"
Screen particles with automatic rejection by zscore and ssnr reports a number of particles in the sqlite that does not correspond to the true number of particles

[2017-12-26 12:45] #1349 closed

[2017-12-26 12:45] #1404 closed

[2017-12-26 12:45] #1286 closed

[2017-12-26 12:45] #1310 closed

[2017-12-26 12:46] #1278 closed

[2017-12-26 12:46] #1318 closed

[2017-12-26 12:51] pconesa commented on #1402
Thanks @azazellochg . @JuhaHuiskonen , @delarosatrevin ... Is this becoming a not as straightforward as initially thought?

[2017-12-26 15:01] pconesa opened #1411 "Write release 1.2 notes"
A contribution is welcome.

[2017-12-26 17:41] azazellochg commented on #1411
@pconesa is there a google docs? :)

[2017-12-27 07:38] majtner commented on #1306
Hi @azazellochg , I do not exactly remember this one but we were testing something with @pconesa and there was no output of the protocol. When I was testing it now, everything worked ok, so probably it was already solved. I also remember from later discussion that maybe something else was the problem, not the CTF.

@pconesa do you maybe remember more details about it and/or could you confirm it wa

[2017-12-27 09:49] pconesa commented on #1390
I'll take care of this!

[2017-12-27 14:15] yaizar commented on #1366
Fixed issue 1 in  bf5c714.
As for the second one, I haven't been able to reproduce:
![image](https://user-images.githubusercontent.com/4609687/34383728-a16b5372-eb17-11e7-87fc-db04832995f4.png)

@azazellochg do you remember which picking were you using?

[2017-12-27 14:43] pconesa commented on #1306
Yep, I think it was a case, where some error was happening but the protocol showed as finished. But can't remember what was making it fail that way.

[2017-12-27 16:51] #1390 closed

[2017-12-27 17:00] pconesa commented on #1355
@josuegbl this is not yet in facilities branch right?, you are already testing this?
The test is failing in buildbot.

[2017-12-27 17:23] yaizar commented on #1394
We're removing this from facilities as the set of micrographs is properly created (the warning refers to this one).  Motioncorr generates a set of movies even if we don't choose the "Save movies" option (shown in advanced mode). The set of movies generated in this case is just a copy of the input set and it is in no way connected to the success of alignment, is this the desired behavior? Should we

[2017-12-28 11:12] yaizar commented on #1394
@azazellochg could you send me one of those failed movies? rancelyaiza@gmail.com

[2017-12-28 15:22] JuhaHuiskonen commented on #1402
Hi @azazellochg @pconesa @delarosatrevin so should there by two separate options:
1. consider previous alignment (not a default - if selected will copy the alignments but not the priors)
2. consider alignment as priors (not a default and perhaps this should be an advanced option evoked only if 1 is chosen - if selected will copy the alignments also as priors).

[2017-12-28 17:22] azazellochg commented on #1394
Hi @yaizar , just to clarify: by default (Save movie = false) the output movie is the same as input but has alignment information. If Save movie = True, then motioncor2 writes aligned movie stacks, so in Scipion the output movies are associated with these new files, but they have no alignment, since the frames are already aligned. The idea of not generating aligned movie stacks is to save disc spa

[2017-12-28 17:33] azazellochg commented on #1366
@yaizar thanks, the first problem solved! For the second one - you can run TestRelionExtractStreaming and if you create a summary protocol then in HTML report you will see coordinates coming from ctffind

[2017-12-29 16:24] yaizar commented on #1366
Thanks @azazellochg. I've now been able to reproduce with that test:
![image](https://user-images.githubusercontent.com/4609687/34440351-fb26f972-ecb4-11e7-9b5c-9ea8249f1796.png)
So I guess this problem was partially introduced by _me_ (oops) in bd7c610 ( in the [summary provider](https://github.com/I2PC/scipion/commit/bd7c610afe88bfa562d73ad72d9bdb474879584b#diff-974f2f13ecfc99fdf5ce7123e867993b)

[2018-01-02 12:09] yaizar commented on #1366
@josuegbl I think the test itself is causing the duplicate id because the outputCTF should have the id=111, but the auto-picking is launched before there's any output so it is assigned the id=111 too. Is there any reason why we do this [waitOutput ](https://github.com/I2PC/scipion/blob/release-1.1.facilities-fixes/pyworkflow/tests/em/workflows/test_workflow_streaming.py#L271) after the auto-pickin

[2018-01-07 22:36] julozi opened #1417 "unsupported hash type md5 when running scipion"
Hi all,

I have installed scipion 1.2.beta from sources on Debian 9 and I get the following python error when I try to start it after install :

    Scipion V1.2.beta (26-12-2017) Caligula

    python  /shared/software/scipion/dev/pyworkflow/apps/pw_manager.py
    ERROR:root:code for hash md5 was not found.
    Traceback (most recent call last):
      File "/shared/software/scipion/dev/software/li

[2018-01-08 00:52] azazellochg commented on #1417
Hi @julozi , I think I had this issue before but can't remember the way I fixed it. Could you try to install latest python 2.7.x instead of the one that Scipion distributes?

[2018-01-08 11:37] julozi commented on #1417
Hi @azazellochg, thanks for your help.
I have rebuilt scipion from scratch forcing Python 2.7.14 and everything is now working fine !

Maybe the package repository should be upgraded for Python.

Thanks a lot,

Julien

[2018-01-08 11:39] azazellochg commented on #1417
@julozi great! updating python is definitely on a to-do list.

[2018-01-08 11:39] #1417 closed

[2018-01-08 18:07] pconesa commented on #1174
@1aviervargas , After our conversation...I guess this is not solved right?

[2018-01-08 18:24] rmarabini commented on #1174
Just delete xmipp_gpu_example, It does not sense to keep it any longer.

    Roberto

On Mon, Jan 8, 2018 at 7:07 PM, Pablo Conesa <notifications@github.com> wrote:

[2018-01-08 19:00] 1aviervargas commented on #1174
Thanks Pablo,

The last time I installed Scipion I had the problem.

Best
Javier

On 8 January 2018 at 13:07, Pablo Conesa <notifications@github.com> wrote:

[2018-01-09 14:37] #1267 closed

[2018-01-10 10:21] azazellochg opened #1421 "eman2 boxer coordinates are wrong when picking dm3"
This is a very old EMAN issue: dm3 images are flipped horizontally when displayed in EMAN. So the coordinates that are saved after e2boxer protocol become wrong as soon as dm3 is converted to mrc.
I would suggest to fix this by modifying Y-coordinate (Ynew=micSize-Yold) when saving output from e2boxer protocol.

[2018-01-10 15:05] yaizar opened #1422 "pluginize scipion config"
Separate package-specific config from the rest of scipion config

[2018-01-10 17:58] pconesa commented on #1421
Thanks, @azazellochg, I think is the same with tif files....have you got a dm3 file we can make a quick test?

[2018-01-10 18:40] azazellochg commented on #1421
I think you are right about tif as well. Here is a dm3 example file.
[image.dm3.zip](https://github.com/I2PC/scipion/files/1620035/fixed-fr8-undil-img5.dm3.zip)

[2018-01-11 08:05] pconesa commented on #1421
thanks @azazellochg , I've fixed this, which took me almost the same time than "adding that warning about being a tif file" in the validation...so I'm wondering if we are missing anything here. @delarosatrevin , @josuegbl ?

[2018-01-11 14:31] azazellochg opened #1423 "slow GUI when opening large project - sqlite mapper issue?"
When I open a relatively large project with protocols that "have ~300k particles each" it takes 2-3 minutes just to open and then it constantly freezes. I think the problem is heavy sqlite files: I have run several "subset" protocols and for each one there are ~400Mb sqlite files in protocol folder.
If I move/remove a few of these protocol folders the GUI is very quick again.

[2018-01-11 14:43] pconesa commented on #1423
umm...thanks again @azazellochg, I guess the 400MB db is for the subset not the run.db, am I right?

[2018-01-11 14:45] pconesa commented on #1423
one more thing......do you think this is due to a recent change? was that project loading fine some time ago? I did some change the way project is loaded....might have caused this...

[2018-01-11 14:48] azazellochg commented on #1423
@pconesa yes, I meant particle.sqlite files etc. That's a new project so can't tell if this was introduced before. If you could point me to a specific commit that I could revert and check, I can do this :)

[2018-01-11 14:51] azazellochg commented on #1423
another reason could be that when I open it, the last modified protocol is selected. It could be that calculating/getting protocol summary takes a lot of resources and slows down the GUI?

[2018-01-12 10:12] phonchi opened #1424 "Problems about adding new protocol"
I just found this project and it seems great!

I have a problem with adding new protocol. I have tried to add protocol following the guide from [the wiki](https://github.com/I2PC/scipion/wiki/Creating-a-Protocol).

For testing purpose, my simple protocol is listing as follows (where average.py is simply summing the mrcs files):

[code]

The script name is `protocol_average.py` and I have placed th

[2018-01-12 10:31] josuegbl commented on #1424
Hi @phonchi and thank you for contribute to this project. Maybe the script name is different to the file that you are executing in self.runJob (average.py). Could you put here the message that appear in  info window pop out?

[2018-01-12 11:52] phonchi commented on #1424
Thanks for the quick reply!!

I have checked that the script did exists. It seems that the message shown in the pop-out window will be the message write in `validateMsgs`.

In addition, the 'average.py' is taken from the sphire project as follows:

[code]
I have checked it could take one or more mrcs/mrc file and works well in the command line.

[2018-01-12 14:43] josuegbl commented on #1421
I'm not agree with fix this, and I prefer a warning in the validation. I think that the user should be aware, but scipion should not modify the original data, because we would be creating an inconsistency breaking  the bookkeeping, one of the scipion's strengths. @cossorzano gave us an idea: create a protocol that invert the coordinates. I think this new protocol is a better solution due to the us

[2018-01-12 15:13] phonchi commented on #1424
I just found that since I am using the EMAN2 's module, it may be conflicted with scipion's python module.

Should I change the related environment variable like the [example](https://github.com/I2PC/scipion/blob/master/pyworkflow/em/packages/eman2/eman2.py)?

[2018-01-12 18:25] pconesa commented on #1421
Sorry @azazellochg , as you can see, there is a strong disagreement here. @josuegbl, I've got a question ....do we "literally" store other outputs in all cases. Things like shifts, angles,.....are we always in all cases keeping the original data? In any case, this is something you cannot easily explain to a user. I agree with keeping the warning due to the fact that the visualization is shifted be

[2018-01-12 18:34] pconesa commented on #1424
What happens if you return None in the _validate, or don't implement it?

[2018-01-12 19:50] azazellochg commented on #1421
Hi @josuegbl @pconesa , I have looked more into this issue. I found that since EMAN2.1 (we use 2.12 in Scipion) the orientation display issue was fixed and now the tif/dm3 micrographs look the same way as they look in Digital micrograph (I have just checked on one of our microscopes). So it appears that ImageHandler is flipping dm3/tiffs then upon convertion to mrc (particle extraction) and origin

[2018-01-13 06:28] phonchi commented on #1424
Thanks, it works!! If I return None or an empty list in the _validate method it will execute (the directory is also created) and only leave the EMAN2 problem. So the problem is that it will prevent the job from execution if the return list is non-empty (meaning that the input has some errors).

By the way, do you have any suggestions about including the EMAN2 library?

[2018-01-13 17:16] pconesa commented on #1424
Great! So what are you getting now? Any error message in the log/console?

[2018-01-14 10:04] phonchi commented on #1424
If I am using the #!/usr/bin/env python in the script (In my understanding, in this case, it will use  scipion's internal python interpreter), it can not find the EMAN2 modules.  Bu If I specify the python interpreter in the script (#!/home/aaa/EMAN2/bin/python)  it will show the following message:

[code]

My guess is that it is conflicted with the scipion's internal python interpreter. Should I

[2018-01-14 15:37] delarosatrevin commented on #1424
Hi @phonchi,

I think you guess is right, if you want to launch an EMAN2 process, you
should setup the environment such in those protocols.

The other issue that looks problematic is that you were returning a ['']
list in the validate method, which mean an error (with no message).
You should return instead an empty list [].

Hope this helps,
Best.

On Sun, Jan 14, 2018 at 5:04 AM, phonchi <notific

[2018-01-15 03:20] phonchi commented on #1424
Thanks for the help!! Now it executes without any problem!